<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="employe">
            <h2><span jhiTranslate="goodFoodApp.employe.detail.title">Employe</span> {{ employe.id }}</h2>

            <hr>

            <gf-alert-error></gf-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="goodFoodApp.employe.poste">Poste</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'goodFoodApp.PosteEnum.' + employe.poste }}">{{ employe.poste }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.employe.notes">Notes</span></dt>
                <dd>
                    <span>{{ employe.notes }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.employe.franchise">Franchise</span></dt>
                <dd>
                    <div *ngIf="employe.franchiseId">
                        <a [routerLink]="['/franchise', employe.franchiseId, 'view']">{{ employe.franchiseId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.employe.adresse">Adresse</span></dt>
                <dd>
                    <div *ngIf="employe.adresseId">
                        <a [routerLink]="['/adresse', employe.adresseId, 'view']">{{ employe.adresseId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.employe.personnePhysique">Personne Physique</span></dt>
                <dd>
                    <div *ngIf="employe.personnePhysiqueId">
                        <a [routerLink]="['/personne-physique', employe.personnePhysiqueId, 'view']">{{
                            employe.personnePhysiqueId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.employe.personneMorale">Personne Morale</span></dt>
                <dd>
                    <div *ngIf="employe.personneMoraleId">
                        <a [routerLink]="['/personne-morale', employe.personneMoraleId, 'view']">{{
                            employe.personneMoraleId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button" [routerLink]="['/employe', employe.id, 'edit']" class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>