<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-employe-heading" jhiTranslate="goodFoodApp.employe.home.createOrEditLabel">Create or edit a
                Employe</h2>

            <div>
                <gf-alert-error></gf-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.employe.poste"
                        for="field_poste">Poste</label>
                    <select class="form-control" name="poste" formControlName="poste" id="field_poste">
                        <option value="LARBIN">{{ 'goodFoodApp.PosteEnum.LARBIN' | translate }}</option>
                        <option value="CUISINIER">{{ 'goodFoodApp.PosteEnum.CUISINIER' | translate }}</option>
                        <option value="LIVREUR">{{ 'goodFoodApp.PosteEnum.LIVREUR' | translate }}</option>
                        <option value="MANAGER">{{ 'goodFoodApp.PosteEnum.MANAGER' | translate }}</option>
                        <option value="DIRECTEUR">{{ 'goodFoodApp.PosteEnum.DIRECTEUR' | translate }}</option>
                        <option value="CHEF">{{ 'goodFoodApp.PosteEnum.CHEF' | translate }}</option>
                        <option value="PDG">{{ 'goodFoodApp.PosteEnum.PDG' | translate }}</option>
                        <option value="TECHNICIEN">{{ 'goodFoodApp.PosteEnum.TECHNICIEN' | translate }}</option>
                        <option value="COMMERCIAL">{{ 'goodFoodApp.PosteEnum.COMMERCIAL' | translate }}</option>
                        <option value="NETTOYEUR">{{ 'goodFoodApp.PosteEnum.NETTOYEUR' | translate }}</option>
                        <option value="INGENIEUR">{{ 'goodFoodApp.PosteEnum.INGENIEUR' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.employe.notes"
                        for="field_notes">Notes</label>
                    <input type="text" class="form-control" name="notes" id="field_notes" formControlName="notes" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.employe.franchise"
                        for="field_franchise">Franchise</label>
                    <select class="form-control" id="field_franchise" name="franchise" formControlName="franchiseId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="franchiseOption.id"
                            *ngFor="let franchiseOption of franchises; trackBy: trackById">{{ franchiseOption.id }}
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.employe.adresse"
                        for="field_adresse">Adresse</label>
                    <select class="form-control" id="field_adresse" name="adresse" formControlName="adresseId">
                        <option *ngIf="!editForm.get('adresseId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="adresseOption.id" *ngFor="let adresseOption of adresses; trackBy: trackById">
                            {{ adresseOption.id }}</option>
                    </select>
                </div>
                <div
                    *ngIf="editForm.get('adresseId')!.invalid && (editForm.get('adresseId')!.dirty || editForm.get('adresseId')!.touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('adresseId')?.errors?.required"
                        jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.employe.personnePhysique"
                        for="field_personnePhysique">Personne Physique</label>
                    <select class="form-control" id="field_personnePhysique" name="personnePhysique"
                        formControlName="personnePhysiqueId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personnePhysiqueOption.id"
                            *ngFor="let personnePhysiqueOption of personnephysiques; trackBy: trackById">{{
                            personnePhysiqueOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.employe.personneMorale"
                        for="field_personneMorale">Personne Morale</label>
                    <select class="form-control" id="field_personneMorale" name="personneMorale"
                        formControlName="personneMoraleId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personneMoraleOption.id"
                            *ngFor="let personneMoraleOption of personnemorales; trackBy: trackById">{{
                            personneMoraleOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>