<div>
    <h2 id="page-heading">
        <span jhiTranslate="goodFoodApp.employe.home.title">Employes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-employe"
            [routerLink]="['/employe/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="goodFoodApp.employe.home.createLabel">
                Create a new Employe
            </span>
        </button>
    </h2>

    <gf-alert-error></gf-alert-error>

    <gf-alert></gf-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                        name="currentSearch" placeholder="{{ 'goodFoodApp.employe.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="employes?.length === 0">
        <span jhiTranslate="goodFoodApp.employe.home.notFound">No employes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="employes && employes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.employe.poste">Poste</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.employe.notes">Notes</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.employe.franchise">Franchise</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.employe.adresse">Adresse</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.employe.personnePhysique">Personne Physique</span>
                    </th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.employe.personneMorale">Personne Morale</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employe of employes ;trackBy: trackId">
                    <td><a [routerLink]="['/employe', employe.id, 'view']">{{ employe.id }}</a></td>
                    <td jhiTranslate="{{ 'goodFoodApp.PosteEnum.' + employe.poste }}">{{ employe.poste }}</td>
                    <td>{{ employe.notes }}</td>
                    <td>
                        <div *ngIf="employe.franchiseId">
                            <a [routerLink]="['/franchise', employe.franchiseId , 'view']">{{ employe.franchiseId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="employe.adresseId">
                            <a [routerLink]="['/adresse', employe.adresseId , 'view']">{{ employe.adresseId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="employe.personnePhysiqueId">
                            <a [routerLink]="['/personne-physique', employe.personnePhysiqueId , 'view']">{{
                                employe.personnePhysiqueId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="employe.personneMoraleId">
                            <a [routerLink]="['/personne-morale', employe.personneMoraleId , 'view']">{{
                                employe.personneMoraleId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/employe', employe.id, 'view']"
                                class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit" [routerLink]="['/employe', employe.id, 'edit']"
                                class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(employe)" class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>