<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commande">
            <h2><span jhiTranslate="goodFoodApp.commande.detail.title">Commande</span> {{ commande.id }}</h2>

            <hr>

            <gf-alert-error></gf-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="goodFoodApp.commande.prixTotal">Prix Total</span></dt>
                <dd>
                    <span>{{ commande.prixTotal }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.commande.dateCommande">Date Commande</span></dt>
                <dd>
                    <span>{{ commande.dateCommande }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.commande.dateStatut">Date Statut</span></dt>
                <dd>
                    <span>{{ commande.dateStatut }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.commande.statut">Statut</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'goodFoodApp.Statut.' + commande.statut }}">{{ commande.statut }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.commande.aLivrer">A Livrer</span></dt>
                <dd>
                    <span>{{ commande.aLivrer }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.commande.datePaiement">Date Paiement</span></dt>
                <dd>
                    <span>{{ commande.datePaiement }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.commande.idClient">Id Client</span></dt>
                <dd>
                    <div *ngIf="commande.idClient">
                        <a [routerLink]="['/client', commande.idClient, 'view']">{{ commande.idClient }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.commande.idFranchise">Id Franchise</span></dt>
                <dd>
                    <div *ngIf="commande.idFranchise">
                        <a [routerLink]="['/franchise', commande.idFranchise, 'view']">{{ commande.idFranchise }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.commande.idFournisseur">Id Fournisseur</span></dt>
                <dd>
                    <div *ngIf="commande.idFournisseur">
                        <a [routerLink]="['/fournisseur', commande.idFournisseur, 'view']">{{ commande.idFournisseur }}</a>
                    </div>
                </dd>
            </dl>

            <button (click)="previousState()"
                    class="btn btn-info"
                    type="submit">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button [routerLink]="['/commande', commande.id, 'edit']"
                    class="btn btn-primary"
                    type="button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
