<div>
    <h2 id="page-heading">
        <span jhiTranslate="goodFoodApp.commande.home.title">Commandes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-commande" [routerLink]="['/commande/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="goodFoodApp.commande.home.createLabel">
            Create a new Commande
            </span>
        </button>
    </h2>

    <gf-alert-error></gf-alert-error>

    <gf-alert></gf-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'goodFoodApp.commande.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="commandes?.length === 0">
        <span jhiTranslate="goodFoodApp.commande.home.notFound">No commandes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="commandes && commandes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prixTotal"><span jhiTranslate="goodFoodApp.commande.prixTotal">Prix Total</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCommande"><span jhiTranslate="goodFoodApp.commande.dateCommande">Date Commande</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateStatut"><span jhiTranslate="goodFoodApp.commande.dateStatut">Date Statut</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="statut"><span jhiTranslate="goodFoodApp.commande.statut">Statut</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="aLivrer"><span jhiTranslate="goodFoodApp.commande.aLivrer">A Livrer</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="datePaiement"><span jhiTranslate="goodFoodApp.commande.datePaiement">Date Paiement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="idClient"><span jhiTranslate="goodFoodApp.commande.idClient">Id Client</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="idFranchise"><span jhiTranslate="goodFoodApp.commande.idFranchise">Id Franchise</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="idFournisseur"><span jhiTranslate="goodFoodApp.commande.idFournisseur">Id Fournisseur</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let commande of commandes ;trackBy: trackId">
                    <td><a [routerLink]="['/commande', commande.id, 'view']">{{ commande.id }}</a></td>
                    <td>{{ commande.prixTotal }}</td>
                    <td>{{ commande.dateCommande }}</td>
                    <td>{{ commande.dateStatut }}</td>
                    <td jhiTranslate="{{ 'goodFoodApp.Statut.' + commande.statut }}">{{ commande.statut }}</td>
                    <td>{{ commande.aLivrer }}</td>
                    <td>{{ commande.datePaiement }}</td>
                    <td>
                        <div *ngIf="commande.idClient">
                            <a [routerLink]="['/client', commande.idClient , 'view']" >{{ commande.idClient }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="commande.idFranchise">
                            <a [routerLink]="['/franchise', commande.idFranchise , 'view']" >{{ commande.idFranchise }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="commande.idFournisseur">
                            <a [routerLink]="['/fournisseur', commande.idFournisseur , 'view']" >{{ commande.idFournisseur }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/commande', commande.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/commande', commande.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(commande)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
