<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-commande-heading" jhiTranslate="goodFoodApp.commande.home.createOrEditLabel">Create or edit a Commande</h2>

            <div>
                <gf-alert-error></gf-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.commande.prixTotal" for="field_prixTotal">Prix Total</label>
                    <input type="number" class="form-control" name="prixTotal" id="field_prixTotal"
                           formControlName="prixTotal"/>
                    <div *ngIf="editForm.get('prixTotal')!.invalid && (editForm.get('prixTotal')!.dirty || editForm.get('prixTotal')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('prixTotal')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('prixTotal')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.commande.dateCommande" for="field_dateCommande">Date Commande</label>
                    <input type="text" class="form-control" name="dateCommande" id="field_dateCommande"
                           formControlName="dateCommande"/>
                    <div *ngIf="editForm.get('dateCommande')!.invalid && (editForm.get('dateCommande')!.dirty || editForm.get('dateCommande')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateCommande')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.commande.dateStatut" for="field_dateStatut">Date Statut</label>
                    <input type="text" class="form-control" name="dateStatut" id="field_dateStatut"
                           formControlName="dateStatut"/>
                    <div *ngIf="editForm.get('dateStatut')!.invalid && (editForm.get('dateStatut')!.dirty || editForm.get('dateStatut')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateStatut')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.commande.statut" for="field_statut">Statut</label>
                    <select class="form-control" name="statut" formControlName="statut" id="field_statut">
                        <option value="EN_COURS">{{ 'goodFoodApp.Statut.EN_COURS' | translate }}</option>
                        <option value="EN_PREPARATION">{{ 'goodFoodApp.Statut.EN_PREPARATION' | translate }}</option>
                        <option value="PREPARE">{{ 'goodFoodApp.Statut.PREPARE' | translate }}</option>
                        <option value="PAYEE">{{ 'goodFoodApp.Statut.PAYEE' | translate }}</option>
                        <option value="LIVRAISON">{{ 'goodFoodApp.Statut.LIVRAISON' | translate }}</option>
                        <option value="COMPLETE">{{ 'goodFoodApp.Statut.COMPLETE' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('statut')!.invalid && (editForm.get('statut')!.dirty || editForm.get('statut')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('statut')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.commande.aLivrer" for="field_aLivrer">A Livrer</label>
                    <input type="checkbox" class="form-control" name="aLivrer" id="field_aLivrer"
                           formControlName="aLivrer"/>
                    <div *ngIf="editForm.get('aLivrer')!.invalid && (editForm.get('aLivrer')!.dirty || editForm.get('aLivrer')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('aLivrer')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.commande.datePaiement" for="field_datePaiement">Date Paiement</label>
                    <input type="text" class="form-control" name="datePaiement" id="field_datePaiement"
                           formControlName="datePaiement"/>
                    <div *ngIf="editForm.get('datePaiement')!.invalid && (editForm.get('datePaiement')!.dirty || editForm.get('datePaiement')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('datePaiement')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.commande.idClient" for="field_idClient">Id Client</label>
                    <select class="form-control" id="field_idClient" name="idClient" formControlName="idClient">
                        <option *ngIf="!editForm.get('idClient')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="clientOption.id" *ngFor="let clientOption of clients; trackBy: trackById">{{ clientOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('idClient')!.invalid && (editForm.get('idClient')!.dirty || editForm.get('idClient')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('idClient')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.commande.idFranchise" for="field_idFranchise">Id Franchise</label>
                    <select class="form-control" id="field_idFranchise" name="idFranchise" formControlName="idFranchise">
                        <option *ngIf="!editForm.get('idFranchise')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="franchiseOption.id" *ngFor="let franchiseOption of franchises; trackBy: trackById">{{ franchiseOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('idFranchise')!.invalid && (editForm.get('idFranchise')!.dirty || editForm.get('idFranchise')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('idFranchise')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.commande.idFournisseur" for="field_idFournisseur">Id Fournisseur</label>
                    <select class="form-control" id="field_idFournisseur" name="idFournisseur" formControlName="idFournisseur">
                        <option *ngIf="!editForm.get('idFournisseur')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="fournisseurOption.id" *ngFor="let fournisseurOption of fournisseurs; trackBy: trackById">{{ fournisseurOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('idFournisseur')!.invalid && (editForm.get('idFournisseur')!.dirty || editForm.get('idFournisseur')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('idFournisseur')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
