<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 jhiTranslate="settings.title" [translateValues]="{ username: account.login }" *ngIf="account">User settings for [<b>{{ account.login }}</b>]</h2>

            <div class="alert alert-success" *ngIf="success" jhiTranslate="settings.messages.success">
                <strong>Settings saved!</strong>
            </div>

            <gf-alert-error></gf-alert-error>

            <form name="form" role="form" (ngSubmit)="save()" [formGroup]="settingsForm" *ngIf="account" novalidate>
                <div class="form-group">
                    <label class="form-control-label" for="firstName" jhiTranslate="settings.form.firstname">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="{{ 'settings.form.firstname.placeholder' | translate }}"
                           formControlName="firstName">

                    <div *ngIf="settingsForm.get('firstName')!.invalid && (settingsForm.get('firstName')!.dirty || settingsForm.get('firstName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="settingsForm.get('firstName')?.errors?.required"
                               jhiTranslate="settings.messages.validate.firstname.required">
                            Your first name is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="settingsForm.get('firstName')?.errors?.minlength"
                               jhiTranslate="settings.messages.validate.firstname.minlength">
                            Your first name is required to be at least 1 character.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="settingsForm.get('firstName')?.errors?.maxlength"
                               jhiTranslate="settings.messages.validate.firstname.maxlength">
                            Your first name cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="lastName" jhiTranslate="settings.form.lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="{{ 'settings.form.lastname.placeholder' | translate }}"
                           formControlName="lastName">

                    <div *ngIf="settingsForm.get('lastName')!.invalid && (settingsForm.get('lastName')!.dirty || settingsForm.get('lastName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="settingsForm.get('lastName')?.errors?.required"
                               jhiTranslate="settings.messages.validate.lastname.required">
                            Your last name is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="settingsForm.get('lastName')?.errors?.minlength"
                               jhiTranslate="settings.messages.validate.lastname.minlength">
                            Your last name is required to be at least 1 character.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="settingsForm.get('lastName')?.errors?.maxlength"
                               jhiTranslate="settings.messages.validate.lastname.maxlength">
                            Your last name cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group" *jhiHasAnyAuthority="'ROLE_EMPLOYE'">
                    <label class="form-control-label" for="enterprisePhone" jhiTranslate="settings.form.enterprisePhone">Enterprise Phone</label>
                    <input type="text" class="form-control" id="enterprisePhone" name="enterprisePhone" placeholder="{{ 'settings.form.enterprisePhone.placeholder' | translate }}"
                           formControlName="enterprisePhone">

                    <div *ngIf="settingsForm.get('enterprisePhone')!.invalid && (settingsForm.get('enterprisePhone')!.dirty || settingsForm.get('enterprisePhone')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="settingsForm.get('enterprisePhone')?.errors?.minlength"
                               jhiTranslate="settings.messages.validate.enterprisePhone.minlength">
                            Your enterprise phone is required to be at least 10 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="settingsForm.get('enterprisePhone')?.errors?.maxlength"
                               jhiTranslate="settings.messages.validate.enterprisePhone.maxlength">
                            Your enterprise phone cannot be longer than 14 characters.
                        </small>
                    </div>
                </div>

                
                <div class="form-group">
                    <label class="form-control-label" for="homePhone" jhiTranslate="settings.form.homePhone">Home Phone</label>
                    <input type="text" class="form-control" id="homePhone" name="homePhone" placeholder="{{ 'settings.form.homePhone.placeholder' | translate }}"
                           formControlName="homePhone">

                    <div *ngIf="settingsForm.get('homePhone')!.invalid && (settingsForm.get('homePhone')!.dirty || settingsForm.get('homePhone')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="settingsForm.get('homePhone')?.errors?.minlength"
                               jhiTranslate="settings.messages.validate.homePhone.minlength">
                            Your home phone is required to be at least 10 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="settingsForm.get('homePhone')?.errors?.maxlength"
                               jhiTranslate="settings.messages.validate.homePhone.maxlength">
                            Your home phone cannot be longer than 14 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="mobilePhone" jhiTranslate="settings.form.mobilePhone">Mobile Phone</label>
                    <input type="text" class="form-control" id="mobilePhone" name="mobilePhone" placeholder="{{ 'settings.form.mobilePhone.placeholder' | translate }}"
                           formControlName="mobilePhone">

                    <div *ngIf="settingsForm.get('mobilePhone')!.invalid && (settingsForm.get('mobilePhone')!.dirty || settingsForm.get('mobilePhone')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="settingsForm.get('mobilePhone')?.errors?.minlength"
                               jhiTranslate="settings.messages.validate.mobilePhone.minlength">
                            Your mobile phone is required to be at least 10 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="settingsForm.get('mobilePhone')?.errors?.maxlength"
                               jhiTranslate="settings.messages.validate.mobilePhone.maxlength">
                            Your mobile phone cannot be longer than 14 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="email" jhiTranslate="global.form.email.label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{ 'global.form.email.placeholder' | translate }}"
                           formControlName="email">

                    <div *ngIf="settingsForm.get('email')!.invalid && (settingsForm.get('email')!.dirty || settingsForm.get('email')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="settingsForm.get('email')?.errors?.required"
                               jhiTranslate="global.messages.validate.email.required">
                            Your email is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="settingsForm.get('email')?.errors?.email"
                               jhiTranslate="global.messages.validate.email.invalid">
                            Your email is invalid.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="settingsForm.get('email')?.errors?.minlength"
                               jhiTranslate="global.messages.validate.email.minlength">
                            Your email is required to be at least 5 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="settingsForm.get('email')?.errors?.maxlength"
                               jhiTranslate="global.messages.validate.email.maxlength">
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group" *ngIf="languages && languages.length > 0">
                    <label for="langKey" jhiTranslate="settings.form.language">Language</label>
                    <select class="form-control" id="langKey" name="langKey" formControlName="langKey">
                        <option *ngFor="let language of languages" [value]="language">{{ language | findLanguageFromKey }}</option>
                    </select>
                </div>

                <button type="submit" [disabled]="settingsForm.invalid" class="btn btn-primary" jhiTranslate="settings.form.button">Save</button>
            </form>
        </div>
    </div>
</div>
