<div class="footer">
    <div class="conditions">
        <p >Certains magasins du réseau Good Food facturent des frais supplémentaires d’un montant maximum de 3,90 € TTC au titre des frais de livraison. 
        Les frais de livraison s’ajoutent aux prix des produits livrés et s’affichent dans la commande sous le libellé « Frais de livraison ».
        Tarifs, zones et conditions de livraison : renseignements auprès de votre Good Food ou sur goodfood.com. 
        Par sécurité, nos livreurs ne sont pas rémunérés à la course ni pénalisés en cas de retard, et sont en possession de moins de 15€. 
        Afin de garantir la sécurité de nos livreurs, le délai de livraison peut être plus long en cas d'intempéries ou de mauvais temps. 
        Merci de noter que certains coupons ne sont pas pris en compte sur Internet. L'abus d'alcool est dangereux pour la santé. 
        À consommer avec modération. La vente d'alcool aux mineurs de moins de 18 ans, et après 22h est interdite. 
        Coca-Cola / Coca-Cola Cherry / Coca-Cola Zéro / Sprite / Fanta / Fuze Tea sont des marques déposées de The Coca-Cola Company.
        **Halal : Merguez, poulet rôti & kebab. Chicken = poulet, Pepper Beef = poivre bœuf, Sweet & Spicy = doux et piquant, Cheese = fromage, Bread = pain, Spicy = épicé, Wings= ailes. Visuels non contractuels. Exemples de présentation. Livraison de votre plateau repas 7j/7. 
        Good Food, le spécialiste du plateau repas à emporter ou en livraison à domicile.
        </p>
    </div>
    <div class="style_container_footer">
        <div class="container_liens">
            <div class="liens_utiles">
                <h3 class="footer_titre_liens" jhiTranslate="goodFoodApp.footer.lienUtile">LIENS UTILES</h3>
                <a class="footer_liens"  [routerLink]="['/contact']">
                    <span jhiTranslate="goodFoodApp.footer.contact">Nous contacter</span>
                </a>
                <a class="footer_liens"  [routerLink]="['/faq']">
                    <span jhiTranslate="goodFoodApp.footer.faq">FAQ</span>
                </a>
            </div>
            <div class="a_propos">
                <h3 class="footer_titre_liens" jhiTranslate="goodFoodApp.footer.aPropos">À PROPOS</h3>
                <a class="footer_liens" [routerLink]="['/contrat', {fragment: 'mention_legales'}]">
                    <span  jhiTranslate="goodFoodApp.footer.mentionLegales">Mentions légales</span>
                </a>
                <a class="footer_liens" [routerLink]="['/contrat', {fragment: 'CU'}]">
                    <span  jhiTranslate="goodFoodApp.footer.CU">Conditions d'utilisations</span>
                </a>
                <a class="footer_liens" [routerLink]="['/contrat', {fragment: 'CGV'}]">
                    <span  jhiTranslate="goodFoodApp.footer.CGV">Conditions générales de vente</span>
                </a>
                <a class="footer_liens" [routerLink]="['/contrat', {fragment: 'donnees_personnelles'}]">
                    <span jhiTranslate="goodFoodApp.footer.donneesPersonnelles">Données personnelles</span>
                </a>
            </div>
        </div>
    </div>
    <div class="copyright_goodfood">
        <span class="copyright" jhiTranslate="goodFoodApp.footer.copyright">2021 © Copyright - GoodFood</span>
    </div>
</div>
