.footer {
  display: block;
}

.footer_titre_liens {
  display: flex;
  font-size: 2em;
  color: #049e48;
  padding: 10px;
}

.container_liens {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.footer_liens {
  display: flex;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-size: 1.2em;
}

.liens_utiles {
  display: flex;
  flex-flow: column wrap;
  padding: 15px;
}

.a_propos {
  display: flex;
  flex-flow: column wrap;
  padding: 15px;
}

.conditions {
  display: flex;
  font-size: 0.6em;
  padding: 5px;
  color: black;
}

.style_container_footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2a2929;
  color: #fff;
}

.copyright_goodfood {
  display: flex;
  justify-content: center;
  background-color: #2a2929;
  color: #fff;
}

.copyright {
  font-size: x-large;
  padding: 9px;
  text-decoration: underline;
  -webkit-text-decoration-color: #049e48;
  text-decoration-color: #049e48;
}

a {
  transition: color 1s;
}

a:hover {
  color: #049e48;
}
