<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fournisseur">
            <h2><span jhiTranslate="goodFoodApp.fournisseur.detail.title">Fournisseur</span> {{ fournisseur.id }}</h2>

            <hr>

            <gf-alert-error></gf-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="goodFoodApp.fournisseur.prenom">Prenom</span></dt>
                <dd>
                    <span>{{ fournisseur.prenom }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.fournisseur.nom">Nom</span></dt>
                <dd>
                    <span>{{ fournisseur.nom }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.fournisseur.email">Email</span></dt>
                <dd>
                    <span>{{ fournisseur.email }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.fournisseur.titre">Titre</span></dt>
                <dd>
                    <span>{{ fournisseur.titre }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.fournisseur.telEntreprise">Tel Entreprise</span></dt>
                <dd>
                    <span>{{ fournisseur.telEntreprise }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.fournisseur.telMaison">Tel Maison</span></dt>
                <dd>
                    <span>{{ fournisseur.telMaison }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.fournisseur.telMobile">Tel Mobile</span></dt>
                <dd>
                    <span>{{ fournisseur.telMobile }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.fournisseur.numeroFax">Numero Fax</span></dt>
                <dd>
                    <span>{{ fournisseur.numeroFax }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.fournisseur.pageWeb">Page Web</span></dt>
                <dd>
                    <span>{{ fournisseur.pageWeb }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.fournisseur.notes">Notes</span></dt>
                <dd>
                    <span>{{ fournisseur.notes }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.fournisseur.idAdresse">Id Adresse</span></dt>
                <dd>
                    <div *ngIf="fournisseur.idAdresseId">
                        <a [routerLink]="['/adresse', fournisseur.idAdresseId, 'view']">{{ fournisseur.idAdresseId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fournisseur', fournisseur.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
