<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-fournisseur-heading" jhiTranslate="goodFoodApp.fournisseur.home.createOrEditLabel">Create or edit a Fournisseur</h2>

            <div>
                <gf-alert-error></gf-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.fournisseur.prenom" for="field_prenom">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="field_prenom"
                           formControlName="prenom"/>
                    <div *ngIf="editForm.get('prenom')!.invalid && (editForm.get('prenom')!.dirty || editForm.get('prenom')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('prenom')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.fournisseur.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                    <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nom')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.fournisseur.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                    <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.fournisseur.titre" for="field_titre">Titre</label>
                    <input type="text" class="form-control" name="titre" id="field_titre"
                           formControlName="titre"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.fournisseur.telEntreprise" for="field_telEntreprise">Tel Entreprise</label>
                    <input type="text" class="form-control" name="telEntreprise" id="field_telEntreprise"
                           formControlName="telEntreprise"/>
                    <div *ngIf="editForm.get('telEntreprise')!.invalid && (editForm.get('telEntreprise')!.dirty || editForm.get('telEntreprise')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telEntreprise')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.fournisseur.telMaison" for="field_telMaison">Tel Maison</label>
                    <input type="text" class="form-control" name="telMaison" id="field_telMaison"
                           formControlName="telMaison"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.fournisseur.telMobile" for="field_telMobile">Tel Mobile</label>
                    <input type="text" class="form-control" name="telMobile" id="field_telMobile"
                           formControlName="telMobile"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.fournisseur.numeroFax" for="field_numeroFax">Numero Fax</label>
                    <input type="text" class="form-control" name="numeroFax" id="field_numeroFax"
                           formControlName="numeroFax"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.fournisseur.pageWeb" for="field_pageWeb">Page Web</label>
                    <input type="text" class="form-control" name="pageWeb" id="field_pageWeb"
                           formControlName="pageWeb"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.fournisseur.notes" for="field_notes">Notes</label>
                    <input type="text" class="form-control" name="notes" id="field_notes"
                           formControlName="notes"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.fournisseur.idAdresse" for="field_idAdresse">Id Adresse</label>
                    <select class="form-control" id="field_idAdresse" name="idAdresse" formControlName="idAdresseId">
                        <option *ngIf="!editForm.get('idAdresseId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="adresseOption.id" *ngFor="let adresseOption of idadresses; trackBy: trackById">{{ adresseOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('idAdresseId')!.invalid && (editForm.get('idAdresseId')!.dirty || editForm.get('idAdresseId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('idAdresseId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
