<div>
    <h2 id="page-heading">
        <span jhiTranslate="goodFoodApp.fournisseur.home.title">Fournisseurs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fournisseur" [routerLink]="['/fournisseur/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="goodFoodApp.fournisseur.home.createLabel">
            Create a new Fournisseur
            </span>
        </button>
    </h2>

    <gf-alert-error></gf-alert-error>

    <gf-alert></gf-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'goodFoodApp.fournisseur.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="fournisseurs?.length === 0">
        <span jhiTranslate="goodFoodApp.fournisseur.home.notFound">No fournisseurs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fournisseurs && fournisseurs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prenom"><span jhiTranslate="goodFoodApp.fournisseur.prenom">Prenom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="goodFoodApp.fournisseur.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="goodFoodApp.fournisseur.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="titre"><span jhiTranslate="goodFoodApp.fournisseur.titre">Titre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telEntreprise"><span jhiTranslate="goodFoodApp.fournisseur.telEntreprise">Tel Entreprise</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telMaison"><span jhiTranslate="goodFoodApp.fournisseur.telMaison">Tel Maison</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telMobile"><span jhiTranslate="goodFoodApp.fournisseur.telMobile">Tel Mobile</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numeroFax"><span jhiTranslate="goodFoodApp.fournisseur.numeroFax">Numero Fax</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pageWeb"><span jhiTranslate="goodFoodApp.fournisseur.pageWeb">Page Web</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="notes"><span jhiTranslate="goodFoodApp.fournisseur.notes">Notes</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="idAdresseId"><span jhiTranslate="goodFoodApp.fournisseur.idAdresse">Id Adresse</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let fournisseur of fournisseurs ;trackBy: trackId">
                    <td><a [routerLink]="['/fournisseur', fournisseur.id, 'view']">{{ fournisseur.id }}</a></td>
                    <td>{{ fournisseur.prenom }}</td>
                    <td>{{ fournisseur.nom }}</td>
                    <td>{{ fournisseur.email }}</td>
                    <td>{{ fournisseur.titre }}</td>
                    <td>{{ fournisseur.telEntreprise }}</td>
                    <td>{{ fournisseur.telMaison }}</td>
                    <td>{{ fournisseur.telMobile }}</td>
                    <td>{{ fournisseur.numeroFax }}</td>
                    <td>{{ fournisseur.pageWeb }}</td>
                    <td>{{ fournisseur.notes }}</td>
                    <td>
                        <div *ngIf="fournisseur.idAdresseId">
                            <a [routerLink]="['/adresse', fournisseur.idAdresseId , 'view']" >{{ fournisseur.idAdresseId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/fournisseur', fournisseur.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/fournisseur', fournisseur.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(fournisseur)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
