<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-allergene-heading" jhiTranslate="goodFoodApp.allergene.home.createOrEditLabel">Create or edit a
                Allergene</h2>

            <div>
                <gf-alert-error></gf-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.allergene.nom"
                        for="field_nom">Nom</label>
                    <select class="form-control" name="nom" formControlName="nom" id="field_nom">
                        <option value="ARACHIDE">ARACHIDE</option>
                        <option value="LAIT">LAIT</option>
                        <option value="OEUF">OEUF</option>
                        <option value="GLUTTEN">GLUTTEN</option>
                        <option value="CHOUX_DE_BRUXELLES">CHOUX_DE_BRUXELLES</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>