<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="allergene">
            <h2><span jhiTranslate="goodFoodApp.allergene.detail.title">Allergene</span> {{ allergene.id }}</h2>

            <hr>

            <gf-alert-error></gf-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="goodFoodApp.allergene.nom">Nom</span></dt>
                <dd>
                    <span>{{ allergene.nom }}</span>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button" [routerLink]="['/allergene', allergene.id, 'edit']" class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>