<!--
<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="produitc">
            <h2><span jhiTranslate="goodFoodApp.produitc.detail.title">ProduitC#</span> {{ produitc.id }}</h2>

            <hr>

            <gf-alert-error></gf-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="goodFoodApp.produitc.eid">Eid</span></dt>
                <dd>
                    <span>{{ produitc.eid }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produitc.nom">Nom</span></dt>
                <dd>
                    <span>{{ produitc.nom }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produitc.quantite">Quantite</span></dt>
                <dd>
                    <span>{{ produitc.quantite }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produitc.quantiteUnite">Quantite Unite</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'goodFoodApp.unite.' + produitc.quantiteUnite }}">{{ produitc.quantiteUnite
                        }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produitc.description">Description</span></dt>
                <dd>
                    <span>{{ produitc.description }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produitc.prixCatalogue">Prix Catalogue</span></dt>
                <dd>
                    <span>{{ produitc.prixCatalogue }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produitc.prixStandard">Prix Standard</span></dt>
                <dd>
                    <span>{{ produitc.prixStandard }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produitc.venteOuverte">Vente Ouverte</span></dt>
                <dd>
                    <span>{{ produitc.venteOuverte }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produitc.origine">Origine</span></dt>
                <dd>
                    <span>{{ produitc.origine }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produitc.produitCategorie">Produit Categorie</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'goodFoodApp.ProduitCategorie.' + produitc.produitCategorie }}">{{
                        produitc.produitCategorie }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produitc.allergenes">Allergenes</span></dt>
                <dd>
                    <span>{{produitc.allergenes|concatString:"nom":";" }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produitc.numeroLot">Numero Lot</span></dt>
                <dd>
                    <span>{{ produitc.numeroLot }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produitc.dateLot">Date Lot</span></dt>
                <dd>
                    <span>{{ produitc.dateLot }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produitc.boisson">Boisson</span></dt>
                <dd>
                    <div *ngIf="produitc.boissonId">
                        <a [routerLink]="['/categorie-boisson', produitc.boissonId, 'view']">{{ produitc.boissonId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produitc.aliment">Aliment</span></dt>
                <dd>
                    <div *ngIf="produitc.alimentId">
                        <a [routerLink]="['/categorie-alimentation', produitc.alimentId, 'view']">{{ produitc.alimentId
                            }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produitc.fourniture">Fourniture</span></dt>
                <dd>
                    <div *ngIf="produitc.fournitureId">
                        <a [routerLink]="['/categorie-fourniture', produitc.fournitureId, 'view']">{{
                            produitc.fournitureId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button" [routerLink]="['/produitc', produitc.id, 'edit']" class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>-->
