<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-produit-heading" jhiTranslate="goodFoodApp.produit.home.createOrEditLabel">Create or edit a
                Produit</h2>

            <div>
                <gf-alert-error></gf-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.produit.eid" for="field_eid">Eid</label>
                    <input type="text" class="form-control" name="eid" id="field_eid" formControlName="eid" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.produit.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom" formControlName="nom" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.produit.quantite"
                        for="field_quantite">Quantite</label>
                    <input type="number" class="form-control" name="quantite" id="field_quantite"
                        formControlName="quantite" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.produit.quantiteUnite"
                        for="field_quantiteUnite">Quantite Unite</label>
                    <select class="form-control" name="quantiteUnite" formControlName="quantiteUnite"
                        id="field_quantiteUnite">
                        <option value="LITRE">{{ 'goodFoodApp.unite.LITRE' | translate }}</option>
                        <option value="KG">{{ 'goodFoodApp.unite.KG' | translate }}</option>
                        <option value="UNITE">{{ 'goodFoodApp.unite.UNITE' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.produit.description"
                        for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        formControlName="description" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.produit.prixCatalogue"
                        for="field_prixCatalogue">Prix Catalogue</label>
                    <input type="number" class="form-control" name="prixCatalogue" id="field_prixCatalogue"
                        formControlName="prixCatalogue" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.produit.prixStandard"
                        for="field_prixStandard">Prix Standard</label>
                    <input type="number" class="form-control" name="prixStandard" id="field_prixStandard"
                        formControlName="prixStandard" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.produit.venteOuverte"
                        for="field_venteOuverte">Vente Ouverte</label>
                    <input type="checkbox" class="form-control" name="venteOuverte" id="field_venteOuverte"
                        formControlName="venteOuverte" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.produit.origine"
                        for="field_origine">Origine</label>
                    <input type="text" class="form-control" name="origine" id="field_origine"
                        formControlName="origine" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.produit.produitCategorie"
                        for="field_produitCategorie">Produit Categorie</label>
                    <select class="form-control" name="produitCategorie" formControlName="produitCategorie"
                        id="field_produitCategorie">
                        <option value="BOISSON">{{ 'goodFoodApp.ProduitCategorie.BOISSON' | translate }}</option>
                        <option value="ALIMENTATION">{{ 'goodFoodApp.ProduitCategorie.ALIMENTATION' | translate }}
                        </option>
                        <option value="FOURNITURE">{{ 'goodFoodApp.ProduitCategorie.FOURNITURE' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.produit.allergenes"
                        for="field_allergenes">Allergenes</label>
                    <select class="form-control" multiple name="allergenes" formControlName="allergenes">
                        <option *ngFor="let allergene of allergenes" [value]="allergene">{{ allergene.nom }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.produit.numeroLot"
                        for="field_numeroLot">Numero Lot</label>
                    <input type="text" class="form-control" name="numeroLot" id="field_numeroLot"
                        formControlName="numeroLot" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.produit.dateLot"
                        for="field_dateLot">Date Lot</label>
                    <div class="input-group">
                        <input id="field_dateLot" type="text" class="form-control" name="dateLot" ngbDatepicker
                            #dateLotDp="ngbDatepicker" formControlName="dateLot" />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateLotDp.toggle()">
                                <fa-icon icon="calendar-alt"></fa-icon>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.produit.boisson"
                        for="field_boisson">Boisson</label>
                    <select class="form-control" id="field_boisson" name="boisson" formControlName="boissonId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categorieBoissonOption.id"
                            *ngFor="let categorieBoissonOption of categorieboissons; trackBy: trackById">{{
                            categorieBoissonOption.type }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.produit.aliment"
                        for="field_aliment">Aliment</label>
                    <select class="form-control" id="field_aliment" name="aliment" formControlName="alimentId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categorieAlimentationOption.id"
                            *ngFor="let categorieAlimentationOption of categoriealimentations; trackBy: trackById">{{
                            categorieAlimentationOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.produit.fourniture"
                        for="field_fourniture">Fourniture</label>
                    <select class="form-control" id="field_fourniture" name="fourniture" formControlName="fournitureId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categorieFournitureOption.id"
                            *ngFor="let categorieFournitureOption of categoriefournitures; trackBy: trackById">{{
                            categorieFournitureOption.type }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>