<div>
    <h2 id="page-heading">
        <span jhiTranslate="goodFoodApp.produit.home.title">Produits</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-produit"
            [routerLink]="['/produit/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="goodFoodApp.produit.home.createLabel">
                Create a new Produit
            </span>
        </button>
    </h2>

    <gf-alert-error></gf-alert-error>

    <gf-alert></gf-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                        name="currentSearch" placeholder="{{ 'goodFoodApp.produit.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="produits?.length === 0">
        <span jhiTranslate="goodFoodApp.produit.home.notFound">No produits found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="produits && produits.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.produit.eid">Eid</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.produit.nom">Nom</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.produit.quantite">Quantite</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.produit.quantiteUnite">Quantite Unite</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.produit.description">Description</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.produit.prixCatalogue">Prix Catalogue</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.produit.prixStandard">Prix Standard</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.produit.venteOuverte">Vente Ouverte</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.produit.origine">Origine</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.produit.produitCategorie">Produit Categorie</span>
                    </th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.produit.allergenes">Allergenes</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.produit.numeroLot">Numero Lot</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.produit.dateLot">Date Lot</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.produit.boisson">Boisson</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.produit.aliment">Aliment</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.produit.fourniture">Fourniture</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let produit of produits ;trackBy: trackId">
                    <td><a [routerLink]="['/produit', produit.id, 'view']">{{ produit.id }}</a></td>
                    <td>{{ produit.eid }}</td>
                    <td>{{ produit.nom }}</td>
                    <td>{{ produit.quantite }}</td>
                    <td jhiTranslate="{{ 'goodFoodApp.unite.' + produit.quantiteUnite }}">{{ produit.quantiteUnite }}
                    </td>
                    <td>{{ produit.description }}</td>
                    <td>{{ produit.prixCatalogue }}</td>
                    <td>{{ produit.prixStandard }}</td>
                    <td>{{ produit.venteOuverte }}</td>
                    <td>{{ produit.origine }}</td>
                    <td jhiTranslate="{{ 'goodFoodApp.ProduitCategorie.' + produit.produitCategorie }}">{{
                        produit.produitCategorie }}</td>
                    <td>{{ produit.allergenes | concatString:"nom":";"}}</td>
                    <td>{{ produit.numeroLot }}</td>
                    <td>{{ produit.dateLot | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="produit.boissonId">
                            <a [routerLink]="['/categorie-boisson', produit.boissonId , 'view']">{{ produit.boissonId
                                }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="produit.alimentId">
                            <a [routerLink]="['/categorie-alimentation', produit.alimentId , 'view']">{{
                                produit.alimentId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="produit.fournitureId">
                            <a [routerLink]="['/categorie-fourniture', produit.fournitureId , 'view']">{{
                                produit.fournitureId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/produit', produit.id, 'view']"
                                class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit" [routerLink]="['/produit', produit.id, 'edit']"
                                class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(produit)" class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>