<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="produit">
            <h2><span jhiTranslate="goodFoodApp.produit.detail.title">Produit</span> {{ produit.id }}</h2>

            <hr>

            <gf-alert-error></gf-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="goodFoodApp.produit.eid">Eid</span></dt>
                <dd>
                    <span>{{ produit.eid }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produit.nom">Nom</span></dt>
                <dd>
                    <span>{{ produit.nom }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produit.quantite">Quantite</span></dt>
                <dd>
                    <span>{{ produit.quantite }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produit.quantiteUnite">Quantite Unite</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'goodFoodApp.unite.' + produit.quantiteUnite }}">{{ produit.quantiteUnite
                        }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produit.description">Description</span></dt>
                <dd>
                    <span>{{ produit.description }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produit.prixCatalogue">Prix Catalogue</span></dt>
                <dd>
                    <span>{{ produit.prixCatalogue }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produit.prixStandard">Prix Standard</span></dt>
                <dd>
                    <span>{{ produit.prixStandard }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produit.venteOuverte">Vente Ouverte</span></dt>
                <dd>
                    <span>{{ produit.venteOuverte }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produit.origine">Origine</span></dt>
                <dd>
                    <span>{{ produit.origine }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produit.produitCategorie">Produit Categorie</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'goodFoodApp.ProduitCategorie.' + produit.produitCategorie }}">{{
                        produit.produitCategorie }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produit.allergenes">Allergenes</span></dt>
                <dd>
                    <span>{{produit.allergenes|concatString:"nom":";" }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produit.numeroLot">Numero Lot</span></dt>
                <dd>
                    <span>{{ produit.numeroLot }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produit.dateLot">Date Lot</span></dt>
                <dd>
                    <span>{{ produit.dateLot }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produit.boisson">Boisson</span></dt>
                <dd>
                    <div *ngIf="produit.boissonId">
                        <a [routerLink]="['/categorie-boisson', produit.boissonId, 'view']">{{ produit.boissonId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produit.aliment">Aliment</span></dt>
                <dd>
                    <div *ngIf="produit.alimentId">
                        <a [routerLink]="['/categorie-alimentation', produit.alimentId, 'view']">{{ produit.alimentId
                            }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.produit.fourniture">Fourniture</span></dt>
                <dd>
                    <div *ngIf="produit.fournitureId">
                        <a [routerLink]="['/categorie-fourniture', produit.fournitureId, 'view']">{{
                            produit.fournitureId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button" [routerLink]="['/produit', produit.id, 'edit']" class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>