<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="personneMorale">
            <h2><span jhiTranslate="goodFoodApp.personneMorale.detail.title">Personne Morale</span> {{ personneMorale.id }}</h2>

            <hr>

            <gf-alert-error></gf-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="goodFoodApp.personneMorale.raisonSociale">Raison Sociale</span></dt>
                <dd>
                    <span>{{ personneMorale.raisonSociale }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.personneMorale.siret">Siret</span></dt>
                <dd>
                    <span>{{ personneMorale.siret }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.personneMorale.user">User</span></dt>
                <dd>
                    {{ personneMorale.userLogin }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/personne-morale', personneMorale.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
