<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-categorie-boisson-heading" jhiTranslate="goodFoodApp.categorieBoisson.home.createOrEditLabel">Create or edit a Categorie Boisson</h2>

            <div>
                <gf-alert-error></gf-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.categorieBoisson.degreAlcool" for="field_degreAlcool">Degre Alcool</label>
                    <input type="number" class="form-control" name="degreAlcool" id="field_degreAlcool"
                           formControlName="degreAlcool"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.categorieBoisson.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                           formControlName="type"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
