<div>
    <h2 id="page-heading">
        <span jhiTranslate="goodFoodApp.categorieBoisson.home.title">Categorie Boissons</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-categorie-boisson" [routerLink]="['/categorie-boisson/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="goodFoodApp.categorieBoisson.home.createLabel">
            Create a new Categorie Boisson
            </span>
        </button>
    </h2>

    <gf-alert-error></gf-alert-error>

    <gf-alert></gf-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'goodFoodApp.categorieBoisson.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="categorieBoissons?.length === 0">
        <span jhiTranslate="goodFoodApp.categorieBoisson.home.notFound">No categorieBoissons found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="categorieBoissons && categorieBoissons.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="goodFoodApp.categorieBoisson.degreAlcool">Degre Alcool</span></th>
                    <th scope="col" ><span jhiTranslate="goodFoodApp.categorieBoisson.type">Type</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let categorieBoisson of categorieBoissons ;trackBy: trackId">
                    <td><a [routerLink]="['/categorie-boisson', categorieBoisson.id, 'view']">{{ categorieBoisson.id }}</a></td>
                    <td>{{ categorieBoisson.degreAlcool }}</td>
                    <td>{{ categorieBoisson.type }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/categorie-boisson', categorieBoisson.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/categorie-boisson', categorieBoisson.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(categorieBoisson)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
