<div>
    <p-toast position="bottom-left"></p-toast>
    <div class="pb-3">
        <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
        <div class="p-grid p-nogutter p-justify-between pt-2">
            <button class="btn btn-outline-primary pi pi-angle-left rounded-sm" (click)="prevPage()" [pTooltip]="'Étape du plat'"></button>
            <button class="btn btn-outline-primary pi pi-angle-right rounded-sm" (click)="nextPage()" [pTooltip]="'Étape de la boisson'"></button>
        </div>
    </div>
    <div class="content">
        <div class="card p-mr-2 panier">
            <gf-panier (indexSelectedPlateau)="selectPlateau($event)"></gf-panier>
        </div>
        <div class="card p-mr-2 liste">
            <p-dataView #dv [paginator]="true" [rows]="12" [value]="datas" filterBy="name" layout="grid">
                <ng-template pTemplate="header">
                    <div class="header">

                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    </div>
                </ng-template>
                <ng-template let-recette pTemplate="listItem">
                    <div class="p-col-12">
                        <div class="product-list-item">
                            <div class="product-list-detail">
                                <div class="product-name">{{recette.name}}</div>
                                <div class="product-description">{{recette.description}}</div>
                                <i class="pi pi-tag product-category-icon"></i>
                                <span class="product-category">{{recette.type}}</span>
                            </div>
                            <div class="product-list-action">
                                <span class="product-price">{{searchPrice(recette.id) |currency:"EUR":"symbol"}}</span>
                                <button class="btn btn-outline-primary pi pi-shopping-cart" (click)="addDessert(recette)"  tooltipPosition="left" [pTooltip]="'Ajouter au panier'"></button>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template let-recette pTemplate="gridItem">
                    <div class="p-col-12 p-md-4">
                        <div class="product-grid-item card">
                            <div class="product-grid-item-top">
                                <div>
                                    <i class="pi pi-tag product-category-icon"></i>
                                    <span class="product-category">{{recette.type}}</span>
                                </div>
                            </div>
                            <div class="product-grid-item-content">
                                <div class="product-name">{{recette.name}}</div>
                                <div class="product-description">{{recette.description}}</div>
                            </div>
                            <div class="product-grid-item-bottom">
                                <span class="product-price">{{searchPrice(recette.id) |currency:"EUR":"symbol"}}</span>
                                <button class="btn btn-outline-primary pi pi-shopping-cart btn-sm" (click)="addDessert(recette)"  tooltipPosition="top" [pTooltip]="'Ajouter au panier'"></button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    </div>
</div>
