<div>
    <p-toast position="bottom-left"></p-toast>
    <div class="pb-3">
        <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
        <div class="p-grid p-nogutter p-justify-between">
            <button class="btn btn-outline-primary pi pi-angle-left" (click)="prevPage()" [pTooltip]="'Étape de la boisson'"></button>
        </div>
    </div>
    <div>
        <div class="card">
            <gf-panier [validationMode]="false"></gf-panier>
        </div>
    </div>
</div>
