<div>
    <p-gmap #gmap [style]="{'width':'100%','height':'700px', 'margin-bottom': '1em'}" [options]="options" [overlays]="overlays"
            (onOverlayClick)="handleOverlayClick($event)"></p-gmap>

    <button type="button" class="btn btn-primary" (click)="zoomIn()" style="margin-right:.25em">
        <fa-icon class="pr-1" [icon]="icon.map.plus"></fa-icon>
        <span>Zoom In</span>
    </button>
    <button type="button" class="btn btn-primary" (click)="zoomOut()">
        <fa-icon class="pr-1" [icon]="icon.map.moins"></fa-icon>
        <span>Zoom Out</span>
    </button>
</div>

