<div>
    <h3 class="h3">{{title}}</h3>
    <div class= "blocFAQ">
        <h2>Frais de livraison</h2>
        <details class="open">
            <summary>
                <u>Quels frais d'expédition sont facturés ?</u>
            </summary>
                <div class="content">
                    <p>Les frais d'expédition standards s'élèvent à €3.90. Ceux-ci s'appliquent également aux commandes contenant plusieurs articles et aux commandes livrées en plusieurs colis et à différentes dates</p>
                <div>
        </details>
    </div>

    <div class= "blocFAQ">
        <h2>Suivi de mes colis</h2>
        <details class="open">
            <summary>
                <u>Combien de temps puis-je suivre ma commande ?</u>
            </summary>
                <div class="content">
                    <p>Vous recevez ce code vie e-mail dès que votre commande a quitté notre entrepôt.</p>
                    <p>Cliquez sur “Suivre la commande” dans l’email pour visualiser le statut de votre commande. Vous avez également la possibilité de suivre votre commande sur votre compte personnel.</p>
                    <p>Vous avez commandé plusieurs articles ? Il est dès lors possible que vous receviez plusieurs colis. Chaque colis
                possède son propre code Livraison.</p>
                </div>
        </details>
        <details class="open">
            <summary>
                <u>Où puis-je trouver le code Livraison ?</u>
            </summary>
            <div class="content">
                <p>Vous recevez ce code vie e-mail dès que votre commande a quitté notre entrepôt.</p>
                <p>Cliquez sur “Suivre la commande” dans l’email pour visualiser le statut de votre commande. Vous avez également la possibilité de suivre votre commande sur votre compte personnel.</p>
                <p>Vous avez commandé plusieurs articles ? Il est dès lors possible que vous receviez plusieurs colis. Chaque colis
            possède son propre code Livraison.</p>
            </div>
        </details>
        <details class="open">
            <summary>
                <u>Je n’ai reçu aucun code Livraison ou aucune confirmation d’envoi.</u>
            </summary>
            <div class="content">
                <p>Pour toute commande effectuée, une confirmation de commande vous est envoyée. Votre commande est alors préparée dans notre entrepôt. Nous ne vous faisons parvenir un e-mail contenant la confirmation d’envoi et le code de livraison pour le suivi de votre commande que lorsque celle-ci est expédiée de notre entrepôt vers bpost. Cet e-mail est envoyé quelques jours avant la date de livraison estimée.</p>
            </div>
        </details>
        <details class="open">
            <summary>
                <u>Le code Livraison ne fonctionne pas.</u>
            </summary>
            <div class="content">
                <p>Lors de la réception de la confirmation d’envoi, il est possible que le code ne fonctionne pas immédiatement. Vous ne pouvez toujours pas l’utiliser après quelques heures ? Notre service clientèle se fera un plaisir de vous aider.</p>
            </div>
        </details>
        <details class="open">
            <summary>
                <u>Selon le code Livraison de bpost, ma commande a été livrée mais je n’ai rien reçu.</u>
            </summary>
            <div class="content">
                <p>Vous avez choisi la livraison à domicile ? Si votre commande entre dans votre boîte aux lettres, il se peut que le facteur l’y ait déposée. Demandez également à vos voisins ou vos colocataires s’ils ont réceptionné votre colis. Toujours à la recherche de votre commande ? Notre service clientèle se fera un plaisir de vous aider.</p>
                <p>Conseil : Vous vous absentez de plus en plus souvent de la maison et n’avez pas la possibilité de réceptionner votre commande ? Sur le site interne de bpost, vous pouvez adapter vos préférences de livraison aux moments où vous ne vous trouvez pas chez vous : choisissez un voisin, indiquez un lieu sûr autour de votre domicile ou sélectionnez un point Poste ou un distributeur de paquets où bpost peut déposer votre colis en votre absence.</p>
                <p>Vous avez choisi la livraison dans un point Poste/un distributeur de paquets ? Notre service clientèle se fera un plaisir de vous aider.</p>
            </div>
        </details>
        <details class="open">
            <summary class="titreFAQ">
                <u>Ma commande est envoyée mais je n’ai toujours rien reçu</u>
            </summary>
            <div class="content">
                <p>Vous attendez un colis, mais celui-ci n’est toujours pas livré? C’est ennuyeux ! Avant de paniquer, vérifiez les points ci-dessous :</p>
                <p>1. Consultez le statut de votre commande</p>
                <p>L’e-mail de confirmation que nous vous envoyons signifie que votre commande a quitté notre entrepôt pour être acheminée vers un centre de tri bpost. Vous avez la possibilité de suivre votre colis grâce au code Livraison indiqué dans cet e-mail. Regardez ici la signification du statut.</p>
                <p>2. Livraison à domicile ? Regardez dans votre boîte aux lettres</p>
                <p>Lorsque vous êtes absent lors de la livraison à domicile de votre commande, le livreur laisse un avis de passage vous permettant de retirer votre colis dans un point Poste.</p>
                <p>3. Contactez le service clientèle dans ls cas suivants :</p>
                <p>- Aucun avis de passage n’a été déposé dans ma boîte aux lettres.</p>
                <p>- Le statut Livraison de ma commande n’a pas changé depuis plus de 1 heure.</p>
                <p>- L’adresse de livraison est incorrecte.</p>
                <p>- Je ne comprends pas où se situe le problème.</p>
            </div>
        </details>
    </div>

    <div class= "blocFAQ">
        <h2>Livraison de ma commande</h2>
        <details class="open">
            <summary>
                <u>Quand vais-je recevoir ma commande ?</u>
            </summary>
                <div class="content">
                    <p>Dès que votre commande a quitté notre entrepôt, nous vous faisons parvenir un e-mail contenant la confirmation d’envoi et votre code Livraison personnel. Ce code vous permettra de suivre votre commande.</p>
                <div>
        </details>
        <details class="open">
            <summary>
                <u>Où puis-je faire livrer ma commande ?</u>
            </summary>
                <div class="content">
                    <p>Il existe 3 options de livraison. Vous pouvez ainsi déterminer ce qui vous convient le mieux :</p>
                    <p>- Au domicile ou au travail.<p>
                <div>
        </details>
        <details class="open">
            <summary>
                <u>Puis-je faire livrer une commande en dehors de la France ?</u>
            </summary>
                <div class="content">
                    <p>Nous vous livrons en France et en Belgique</p>
                <div>
        </details>
        <details class="open">
            <summary>
                <u>Dans quelles tranches horaires ma commande est-elle livrée ?</u>
            </summary>
                <div class="content">
                    <p>Nous livrons via bpost à domicile ou sur votre lieu de travail tous les jours de semaine de 8h à 20h</p>
                <div>
        </details>
        <details class="open">
            <summary>
                <u>Puis-je annuler ma commande si elle n'est pas livrée à temps ?</u>
            </summary>
                <div class="content">
                    <p>Nous faisons toujours notre possible afin de livrer votre commande le plus rapidiment possible. Si malgré cela, nous ne sommes pas en mesure de vous livrer à temps, nous vous en avertirons avant la fin du délai de livraison prévu. Vous pouvez toujours refuser le colis lors de la livraison et nous vous rembourserons le plus vite possible.</p>
                <div>
        </details>
        <details class="open">
            <summary>
                <u>Une commande de plusieurs articles est-elle livrée en 1 fois ?</u>
            </summary>
                <div class="content">
                    <p>Lorsque vous commandez plusieurs articles, il est possible que nous livrions votre commande en plusieurs colis et à différentes dates. Il se peut donc que vous ayez reçu une partie de votre commande pendant que l’autre partie est en route. Vous recevez une confirmation d’envoi et un code Livraison par colis.</p>
                <div>
        </details>
    </div>

    <div class= "blocFAQ">
        <h2>Colis non reçus et autres questions</h2>
        <details class="open">
            <summary>
                <u>Je n'ai pas reçu tous les articles commandés. Et maintenant ?</u>
            </summary>
                <div class="content">
                    <p>Votre commande n’est pas divisée en plusieurs colis mais il manque des articles ? Le Service clientèle se fera un plaisir de vous
                    aider. Astuce : : Pour un service rapide, préparez votre numéro client et numéro de commande. Vous trouverez ces numéros dans la
                    confirmation de commande. Vous ne possédez pas ces informations ? Indiquez l’adresse e-mail utilisée pour votre commande.</p>
                <div>
        </details>
        <details class="open">
            <summary>
                <u>Qui livre ma commande ?</u>
            </summary>
                <div class="content">
                    <p>Un livreur d'une franchise la plus proche</p>
                <div>
        </details>
    </div>
</div>

