.h3 {
  padding: 5px;
  background-color: hsla(0, 0%, 80%, 0.10196078431372549);
  border: 1px solid hsla(0, 0%, 80%, 0.10196078431372549);
  color: #323e40;
  font-weight: bolder;
  text-align: center;
}

.blocFAQ {
  padding: 10px;
}
.titreFAQ {
  font-weight: bolder;
}

summary {
  padding: 5px;
  transition: color 1s;
  font-weight: bolder;
}
summary:hover {
  color: #049e48;
}
