<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="adresse">
            <h2><span jhiTranslate="goodFoodApp.adresse.detail.title">Adresse</span> {{ adresse.id }}</h2>

            <hr>

            <gf-alert-error></gf-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="goodFoodApp.adresse.numeroVoie">Numero Voie</span></dt>
                <dd>
                    <span>{{ adresse.numeroVoie }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.adresse.nomVoie">Nom Voie</span></dt>
                <dd>
                    <span>{{ adresse.nomVoie }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.adresse.codePostal">Code Postal</span></dt>
                <dd>
                    <span>{{ adresse.codePostal }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.adresse.ville">Ville</span></dt>
                <dd>
                    <span>{{ adresse.ville }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.adresse.complementAdresse">Complement Adresse</span></dt>
                <dd>
                    <span>{{ adresse.complementAdresse }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.adresse.infoComplementaire">Info Complementaire</span></dt>
                <dd>
                    <span>{{ adresse.infoComplementaire }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/adresse', adresse.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
