<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-adresse-heading" jhiTranslate="goodFoodApp.adresse.home.createOrEditLabel">Create or edit a Adresse</h2>

            <div>
                <gf-alert-error></gf-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.adresse.numeroVoie" for="field_numeroVoie">Numero Voie</label>
                    <input type="text" class="form-control" name="numeroVoie" id="field_numeroVoie"
                           formControlName="numeroVoie"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.adresse.nomVoie" for="field_nomVoie">Nom Voie</label>
                    <input type="text" class="form-control" name="nomVoie" id="field_nomVoie"
                           formControlName="nomVoie"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.adresse.codePostal" for="field_codePostal">Code Postal</label>
                    <input type="text" class="form-control" name="codePostal" id="field_codePostal"
                           formControlName="codePostal"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.adresse.ville" for="field_ville">Ville</label>
                    <input type="text" class="form-control" name="ville" id="field_ville"
                           formControlName="ville"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.adresse.complementAdresse" for="field_complementAdresse">Complement Adresse</label>
                    <input type="text" class="form-control" name="complementAdresse" id="field_complementAdresse"
                           formControlName="complementAdresse"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.adresse.infoComplementaire" for="field_infoComplementaire">Info Complementaire</label>
                    <input type="text" class="form-control" name="infoComplementaire" id="field_infoComplementaire"
                           formControlName="infoComplementaire"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
