<div>
    <h2 id="page-heading">
        <span jhiTranslate="goodFoodApp.adresse.home.title">Adresses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-adresse" [routerLink]="['/adresse/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="goodFoodApp.adresse.home.createLabel">
            Create a new Adresse
            </span>
        </button>
    </h2>

    <gf-alert-error></gf-alert-error>

    <gf-alert></gf-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'goodFoodApp.adresse.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="adresses?.length === 0">
        <span jhiTranslate="goodFoodApp.adresse.home.notFound">No adresses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="adresses && adresses.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="goodFoodApp.adresse.numeroVoie">Numero Voie</span></th>
                    <th scope="col" ><span jhiTranslate="goodFoodApp.adresse.nomVoie">Nom Voie</span></th>
                    <th scope="col" ><span jhiTranslate="goodFoodApp.adresse.codePostal">Code Postal</span></th>
                    <th scope="col" ><span jhiTranslate="goodFoodApp.adresse.ville">Ville</span></th>
                    <th scope="col" ><span jhiTranslate="goodFoodApp.adresse.complementAdresse">Complement Adresse</span></th>
                    <th scope="col" ><span jhiTranslate="goodFoodApp.adresse.infoComplementaire">Info Complementaire</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let adresse of adresses ;trackBy: trackId">
                    <td><a [routerLink]="['/adresse', adresse.id, 'view']">{{ adresse.id }}</a></td>
                    <td>{{ adresse.numeroVoie }}</td>
                    <td>{{ adresse.nomVoie }}</td>
                    <td>{{ adresse.codePostal }}</td>
                    <td>{{ adresse.ville }}</td>
                    <td>{{ adresse.complementAdresse }}</td>
                    <td>{{ adresse.infoComplementaire }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/adresse', adresse.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/adresse', adresse.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(adresse)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
