<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-plateau-repas-heading" jhiTranslate="goodFoodApp.plateauRepas.home.createOrEditLabel">Create or
                edit a Plateau Repas</h2>

            <div>
                <gf-alert-error></gf-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.plateauRepas.prixHT"
                        for="field_prixHT">Prix HT</label>
                    <input type="number" class="form-control" name="prixHT" id="field_prixHT"
                        formControlName="prixHT" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.plateauRepas.tva"
                        for="field_tva">Tva</label>
                    <input type="number" class="form-control" name="tva" id="field_tva" formControlName="tva" />
                    <div
                        *ngIf="editForm.get('tva')!.invalid && (editForm.get('tva')!.dirty || editForm.get('tva')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('tva')?.errors?.min"
                            jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger" *ngIf="editForm.get('tva')?.errors?.max"
                            jhiTranslate="entity.validation.max" [translateValues]="{ max: 100 }">
                            This field cannot be more than 100.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.get('tva')?.errors?.number"
                            jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.plateauRepas.composition"
                        for="field_composition">Composition</label>
                    <input type="text" class="form-control" name="composition" id="field_composition"
                        formControlName="composition" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.plateauRepas.couvert"
                        for="field_couvert">Couvert</label>
                    <input type="checkbox" class="form-control" name="couvert" id="field_couvert"
                        formControlName="couvert" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.plateauRepas.serviette"
                        for="field_serviette">Serviette</label>
                    <input type="checkbox" class="form-control" name="serviette" id="field_serviette"
                        formControlName="serviette" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.plateauRepas.boisson"
                        for="field_boisson">Boisson</label>
                    <select class="form-control" id="field_boisson" name="boisson" formControlName="boissonId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="produitOption.id" *ngFor="let produitOption of produits; trackBy: trackById">
                            {{ produitOption.id }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.plateauRepas.recettes"
                        for="field_recettes">Recettes</label>
                    <select class="form-control" name="recettes" formControlName="recettes" id="field_recettes" multiple
                        [compareWith]=containsRecetteId>
                        <option *ngFor="let recette of recetteListe" [ngValue]="recette">{{ recette.titre }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>