<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="plateauRepas">
            <h2><span jhiTranslate="goodFoodApp.plateauRepas.detail.title">Plateau Repas</span> {{ plateauRepas.id }}
            </h2>

            <hr>

            <gf-alert-error></gf-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="goodFoodApp.plateauRepas.prixHT">Prix HT</span></dt>
                <dd>
                    <span>{{ plateauRepas.prixHT }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.plateauRepas.tva">Tva</span></dt>
                <dd>
                    <span>{{ plateauRepas.tva }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.plateauRepas.composition">Composition</span></dt>
                <dd>
                    <span>{{ plateauRepas.composition }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.plateauRepas.couvert">Couvert</span></dt>
                <dd>
                    <span>{{ plateauRepas.couvert }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.plateauRepas.serviette">Serviette</span></dt>
                <dd>
                    <span>{{ plateauRepas.serviette }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.plateauRepas.boisson">Boisson</span></dt>
                <dd>
                    <div *ngIf="plateauRepas.boissonId">
                        <a [routerLink]="['/produit', plateauRepas.boissonId, 'view']">{{ plateauRepas.boissonId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.plateauRepas.recettes">Recettes</span></dt>
                <dd>
                    <span>{{plateauRepas.recettes | concatString:"titre":";"}}</span>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button" [routerLink]="['/plateau-repas', plateauRepas.id, 'edit']" class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>