<div>
    <h2 id="page-heading">
        <span jhiTranslate="goodFoodApp.plateauRepas.home.title">Plateau Repas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-plateau-repas"
            [routerLink]="['/plateau-repas/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="goodFoodApp.plateauRepas.home.createLabel">
                Create a new Plateau Repas
            </span>
        </button>
    </h2>

    <gf-alert-error></gf-alert-error>

    <gf-alert></gf-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                        name="currentSearch" placeholder="{{ 'goodFoodApp.plateauRepas.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="plateauRepas?.length === 0">
        <span jhiTranslate="goodFoodApp.plateauRepas.home.notFound">No plateauRepas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="plateauRepas && plateauRepas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.plateauRepas.prixHT">Prix HT</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.plateauRepas.tva">Tva</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.plateauRepas.composition">Composition</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.plateauRepas.couvert">Couvert</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.plateauRepas.serviette">Serviette</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.plateauRepas.boisson">Boisson</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.plateauRepas.recettes">Recettes</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let plateauRepas of plateauRepas ;trackBy: trackId">
                    <td><a [routerLink]="['/plateau-repas', plateauRepas.id, 'view']">{{ plateauRepas.id }}</a></td>
                    <td>{{ plateauRepas.prixHT }}</td>
                    <td>{{ plateauRepas.tva }}</td>
                    <td>{{ plateauRepas.composition }}</td>
                    <td>{{ plateauRepas.couvert }}</td>
                    <td>{{ plateauRepas.serviette }}</td>
                    <td>
                        <div *ngIf="plateauRepas.boissonId">
                            <a [routerLink]="['/produit', plateauRepas.boissonId , 'view']">{{ plateauRepas.boissonId
                                }}</a>
                        </div>
                    </td>
                    <td>{{plateauRepas.recettes | concatString:"titre":";"}}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/plateau-repas', plateauRepas.id, 'view']"
                                class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit" [routerLink]="['/plateau-repas', plateauRepas.id, 'edit']"
                                class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(plateauRepas)" class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>