.selectedPLateau {
  :host ::ng-deep {
    .p-accordion-header-link {
      background-color: #141416 !important;
    }
  }
}

.hr {
  margin-left: 5rem;
  margin-right: 5rem;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.card {
  padding: 2rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 2rem;
}

.select {
  display: flex;
  /*margin-right: 0.75rem;*/
  flex-direction: column-reverse;
}

.baliseA {
  text-decoration: underline;
}

.div-select {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1400px) {
  .blabla {
    display: flex;
  }
  .forms {
    width: 80%;
    order: 1;
  }
  .liste {
    width: 20%;
    order: 2;
    padding-left: 1em;
  }
}

@media screen and (max-width: 1400px) {
  .forms {
    padding-right: 0.5em;
    padding-left: 0.5em;
  }
  .liste {
    padding: 0.5em;
  }
}
