<div *ngIf="validationMode">
    <div class="text-center">
        <h4>Ma commande</h4>
        <h5>Total : {{searchTotalPrice() |currency:"EUR":"symbol"}}</h5>
        <hr class="hr">
        <button (click)="addPlateau()" *ngIf="showAddBtn()" class="btn btn-outline-primary rounded-sm">Ajouter un
            plateau repas
        </button>
        <hr class="hr">
    </div>
    <div>
        <p-accordion (onClose)="onTabClose()"  (onOpen)="onTabOpen($event)">
            <p-accordionTab *ngFor="let plateau of commandeClient?.plateauRepas; let i = index;"
                            [(selected)]="activeState[i]">
                <ng-template pTemplate="header">
                    <span>Prix du plateau n°{{i+1}} :
                        {{searchPlateauPrice(i) | currency:"EUR": "symbol"}}
                        </span>
                </ng-template>
                <div style="display: flex;align-items: center; justify-content: space-between;">
                    <div>
                        <div *ngFor="let recette of plateau?.recettes; let index = index;">
                        <span>{{recette?.type}} / {{searchPrice(recette.id) |currency:"EUR":"symbol"}}
                            <fa-icon (click)="removeRecette(i, index)" [icon]="icons.action.remove"
                                     [pTooltip]="'Supprimer la recette'"></fa-icon></span>
                        </div>
                        <div *ngIf="plateau?.boissonId">
                            <span> BOISSON / {{searchBoissonPrice(i) |currency:"EUR":"symbol"}}
                                <fa-icon (click)="removeBoisson(i)" [icon]="icons.action.remove"
                                         [pTooltip]="'Supprimer la boisson'"></fa-icon></span>
                        </div>
                    </div>
                    <div style="border-left: solid 1px;margin-left: 0.2em;padding-left: 0.5rem;height: 100px;display: flex;align-items: center;">
                        <fa-icon (click)="removePlateau(i)" [icon]="icons.action.remove"
                                 [pTooltip]="'Supprimer le plateau repas'"></fa-icon>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>
</div>
<div *ngIf="!validationMode" class=" blabla">
    <div class="liste">
        <div class="card">
            <h3 class="bold text-center">Ma commande</h3>
            <hr class="hr">
            <div>
                <p-accordion (onClose)="onTabClose()" (onOpen)="onTabOpen($event)">
                    <p-accordionTab *ngFor="let plateau of commandeClient?.plateauRepas; let i = index;"
                                    [(selected)]="activeState[i]">
                        <ng-template pTemplate="header">
                            <span>Prix du plateau n°{{i+1}} :
                                {{searchPlateauPrice(i) | currency:"EUR": "symbol"}}
                        </span>
                        </ng-template>
                        <div style="display: flex;align-items: center; justify-content: space-between;">
                            <div>
                                <div *ngFor="let recette of plateau?.recettes; let index = index;">
                        <span>{{recette?.type}} / {{searchPrice(recette.id) |currency:"EUR":"symbol"}}
                            <fa-icon (click)="removeRecette(i, index)" [icon]="icons.action.remove"
                                     [pTooltip]="'Supprimer la recette'"></fa-icon></span>
                                </div>
                                <div *ngIf="plateau?.boissonId">
                            <span> BOISSON / {{searchBoissonPrice(i) |currency:"EUR":"symbol"}}
                                <fa-icon (click)="removeBoisson(i)" [icon]="icons.action.remove"
                                         [pTooltip]="'Supprimer la boisson'"></fa-icon></span>
                                </div>
                            </div>
                            <div style="border-left: solid 1px;margin-left: 0.2em;padding-left: 0.5rem;height: 100px;display: flex;align-items: center;">
                                <fa-icon (click)="removePlateau(i)" [icon]="icons.action.remove"
                                         [pTooltip]="'Supprimer le plateau repas'"></fa-icon>
                            </div>
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </div>
        </div>
    </div>
    <div class="forms">
        <div class="card p-2 text-center">
            <h2 class="bold">Détails</h2>
            <h6 *ngIf="!commande?.aLivrer" class="font-weight-bold">Magasin : {{adresseFranchise.ville}}
                - {{adresseFranchise.codePostal}}</h6>
            <h6 *ngIf="commande?.aLivrer" class="font-weight-bold">Adresse de livraison : {{adresseLivraison.numeroVoie}} {{adresseLivraison.nomVoie}} {{adresseLivraison.ville}} - {{adresseLivraison.codePostal}}</h6>

            <h4>Total : {{searchTotalPrice() |currency:"EUR":"symbol"}}</h4>
        </div>
        <div class="pt-3 card">
            <form [formGroup]="contactForm" name="contactForm" role="form">
                <span class="float-right">DÉJÀ INSCRIT? <a (click)="login()" class="baliseA">SE CONNECTER</a></span>
                <div class="form-group">
                    <label for="name">Nom</label>
                    <input class="form-control" formControlName="name" id="name" type="text" required>
                    <small *ngIf="contactForm.get('name')?.invalid" class="p-invalid">Le nom est requis.</small>
                </div>
                <div class="form-group">
                    <label for="phone">Téléphone</label>
                    <input class="form-control" formControlName="phone" id="phone" type="tel" required>
                    <small *ngIf="contactForm.get('phone')?.invalid" class="p-invalid">Le numéro de téléphone est requis.</small>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" formControlName="email" id="email" type="email" required>
                    <small *ngIf="contactForm.get('email')?.invalid" class="p-invalid">L'email est requis.</small>
                </div>
                <div>
                    <hr class="hr">
                    <div class="text-center">
                        <h6>Sélectionner le mode de payement</h6>
                    </div>
                    <div class="div-select"  [formGroup]="contactForm">
                        <div class="form-check form-check-inline select pr-4">
                            <input class="form-check-input" id="inlineRadio1" name="isLiquid" formControlName="isLiquid" type="radio" [value]="true">
                            <label class="form-check-label" for="inlineRadio1">
                                <fa-icon [icon]="icons.select.faLiquid" size="4x"></fa-icon>
                            </label>
                        </div>
                        <div class="form-check form-check-inline select pl-4">
                            <input class="form-check-input" id="inlineRadio2" name="isLiquid" formControlName="isLiquid" type="radio" [value]="false">
                            <label class="form-check-label" for="inlineRadio2">
                                <fa-icon [icon]="icons.select.faCard" size="4x"></fa-icon>
                            </label>
                        </div>
                    </div>
                    <hr class="hr">
                </div>
                <div class="form-group">
                    <input class="form-check-input" formControlName="consent" id="consent" type="checkbox">
                    <label class="form-check-label" for="consent">
                        <!--<span>En cochant cette case, j'accepte et je reconnais avoir pris connaissance des <a
                                class="baliseA">CONDITIONS
                            GÉNÉRALES DE VENTE</a> et de <a class="baliseA">LA NOTICE DONNÉES PERSONNELLES</a></span>-->
                        <span>En cochant cette case, j'accepte et je reconnais avoir pris connaissance des CONDITIONS
                            GÉNÉRALES DE VENTE et de LA NOTICE DONNÉES PERSONNELLES</span>
                    </label>
                </div>
                <div class="text-center">
                    <button [disabled]="contactForm.invalid" (click)="nextStep()" class="btn btn-outline-primary">Valider la commande
                        <fa-icon [icon]="icons.action.chevronRight"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<p-dialog header="Payement en cour via TPE System" [(visible)]="displayTPE" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false" [responsive]="true">
    <div style="text-align-last: center;">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</p-dialog>


