<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commandeClient">
            <h2><span jhiTranslate="goodFoodApp.commandeClient.detail.title">Commande Client</span> {{ commandeClient.id
                }}</h2>

            <hr>

            <gf-alert-error></gf-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="goodFoodApp.commandeClient.codePromo">Code Promo</span></dt>
                <dd>
                    <span>{{ commandeClient.codePromo }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.commandeClient.client">Client</span></dt>
                <dd>
                    <div *ngIf="commandeClient.clientId">
                        <a [routerLink]="['/client', commandeClient.clientId, 'view']">{{ commandeClient.clientId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.commandeClient.employe">Employe</span></dt>
                <dd>
                    <div *ngIf="commandeClient.employeId">
                        <a [routerLink]="['/employe', commandeClient.employeId, 'view']">{{ commandeClient.employeId
                            }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.commandeClient.commande">Commande</span></dt>
                <dd>
                    <div *ngIf="commandeClient.commandeId">
                        <a [routerLink]="['/commande', commandeClient.commandeId, 'view']">{{ commandeClient.commandeId
                            }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button" [routerLink]="['/commande-client', commandeClient.id, 'edit']"
                class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>