<div>
    <h2 id="page-heading">
        <span jhiTranslate="goodFoodApp.commandeClient.home.title">Commande Clients</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-commande-client"
            [routerLink]="['/commande-client/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="goodFoodApp.commandeClient.home.createLabel">
                Create a new Commande Client
            </span>
        </button>
    </h2>

    <gf-alert-error></gf-alert-error>

    <gf-alert></gf-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                        name="currentSearch" placeholder="{{ 'goodFoodApp.commandeClient.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="commandeClients?.length === 0">
        <span jhiTranslate="goodFoodApp.commandeClient.home.notFound">No commandeClients found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="commandeClients && commandeClients.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.commandeClient.codePromo">Code Promo</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.commandeClient.client">Client</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.commandeClient.employe">Employe</span></th>
                    <th scope="col"><span jhiTranslate="goodFoodApp.commandeClient.commande">Commande</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let commandeClient of commandeClients ;trackBy: trackId">
                    <td><a [routerLink]="['/commande-client', commandeClient.id, 'view']">{{ commandeClient.id }}</a>
                    </td>
                    <td>{{ commandeClient.codePromo }}</td>
                    <td>
                        <div *ngIf="commandeClient.clientId">
                            <a [routerLink]="['/client', commandeClient.clientId , 'view']">{{ commandeClient.clientId
                                }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="commandeClient.employeId">
                            <a [routerLink]="['/employe', commandeClient.employeId , 'view']">{{
                                commandeClient.employeId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="commandeClient.commandeId">
                            <a [routerLink]="['/commande', commandeClient.commandeId , 'view']">{{
                                commandeClient.commandeId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/commande-client', commandeClient.id, 'view']"
                                class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit" [routerLink]="['/commande-client', commandeClient.id, 'edit']"
                                class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(commandeClient)" class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>