<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-commande-client-heading" jhiTranslate="goodFoodApp.commandeClient.home.createOrEditLabel">Create
                or edit a Commande Client</h2>

            <div>
                <gf-alert-error></gf-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.commandeClient.codePromo"
                        for="field_codePromo">Code Promo</label>
                    <input type="text" class="form-control" name="codePromo" id="field_codePromo"
                        formControlName="codePromo" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.commandeClient.client"
                        for="field_client">Client</label>
                    <select class="form-control" id="field_client" name="client" formControlName="clientId">
                        <option *ngIf="!editForm.get('clientId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="clientOption.id" *ngFor="let clientOption of clients; trackBy: trackById">{{
                            clientOption.id }}</option>
                    </select>
                </div>
                <div
                    *ngIf="editForm.get('clientId')!.invalid && (editForm.get('clientId')!.dirty || editForm.get('clientId')!.touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('clientId')?.errors?.required"
                        jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.commandeClient.employe"
                        for="field_employe">Employe</label>
                    <select class="form-control" id="field_employe" name="employe" formControlName="employeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeOption.id" *ngFor="let employeOption of employes; trackBy: trackById">
                            {{ employeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.commandeClient.commande"
                        for="field_commande">Commande</label>
                    <select class="form-control" id="field_commande" name="commande" formControlName="commandeId">
                        <option *ngIf="!editForm.get('commandeId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="commandeOption.id"
                            *ngFor="let commandeOption of commandes; trackBy: trackById">{{ commandeOption.id }}
                        </option>
                    </select>
                </div>
                <div
                    *ngIf="editForm.get('commandeId')!.invalid && (editForm.get('commandeId')!.dirty || editForm.get('commandeId')!.touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('commandeId')?.errors?.required"
                        jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>