<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="categorieFourniture">
            <h2><span jhiTranslate="goodFoodApp.categorieFourniture.detail.title">Categorie Fourniture</span> {{ categorieFourniture.id }}</h2>

            <hr>

            <gf-alert-error></gf-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="goodFoodApp.categorieFourniture.type">Type</span></dt>
                <dd>
                    <span>{{ categorieFourniture.type }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/categorie-fourniture', categorieFourniture.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
