<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-client-heading" jhiTranslate="goodFoodApp.client.home.createOrEditLabel">Create or edit a Client</h2>

            <div>
                <gf-alert-error></gf-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.client.personneType" for="field_personneType">Personne Type</label>
                    <select class="form-control" name="personneType" formControlName="personneType" id="field_personneType">
                        <option value="PHYSIQUE">{{ 'goodFoodApp.PersonneType.PHYSIQUE' | translate }}</option>
                        <option value="MORALE">{{ 'goodFoodApp.PersonneType.MORALE' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.client.adresseLivraison" for="field_adresseLivraison">Adresse Livraison</label>
                    <select class="form-control" id="field_adresseLivraison" name="adresseLivraison" formControlName="adresseLivraisonId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="adresseOption.id" *ngFor="let adresseOption of adresselivraisons; trackBy: trackById">{{ adresseOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.client.adresseFacturation" for="field_adresseFacturation">Adresse Facturation</label>
                    <select class="form-control" id="field_adresseFacturation" name="adresseFacturation" formControlName="adresseFacturationId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="adresseOption.id" *ngFor="let adresseOption of adressefacturations; trackBy: trackById">{{ adresseOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.client.personnePhysique" for="field_personnePhysique">Personne Physique</label>
                    <select class="form-control" id="field_personnePhysique" name="personnePhysique" formControlName="personnePhysiqueId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personnePhysiqueOption.id" *ngFor="let personnePhysiqueOption of personnephysiques; trackBy: trackById">{{ personnePhysiqueOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.client.personneMorale" for="field_personneMorale">Personne Morale</label>
                    <select class="form-control" id="field_personneMorale" name="personneMorale" formControlName="personneMoraleId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personneMoraleOption.id" *ngFor="let personneMoraleOption of personnemorales; trackBy: trackById">{{ personneMoraleOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
