<div>
    <h2 id="page-heading">
        <span jhiTranslate="goodFoodApp.client.home.title">Clients</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-client" [routerLink]="['/client/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="goodFoodApp.client.home.createLabel">
            Create a new Client
            </span>
        </button>
    </h2>

    <gf-alert-error></gf-alert-error>

    <gf-alert></gf-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'goodFoodApp.client.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="clients?.length === 0">
        <span jhiTranslate="goodFoodApp.client.home.notFound">No clients found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="clients && clients.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="goodFoodApp.client.personneType">Personne Type</span></th>
                    <th scope="col" ><span jhiTranslate="goodFoodApp.client.adresseLivraison">Adresse Livraison</span></th>
                    <th scope="col" ><span jhiTranslate="goodFoodApp.client.adresseFacturation">Adresse Facturation</span></th>
                    <th scope="col" ><span jhiTranslate="goodFoodApp.client.personnePhysique">Personne Physique</span></th>
                    <th scope="col" ><span jhiTranslate="goodFoodApp.client.personneMorale">Personne Morale</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients ;trackBy: trackId">
                    <td><a [routerLink]="['/client', client.id, 'view']">{{ client.id }}</a></td>
                    <td jhiTranslate="{{ 'goodFoodApp.PersonneType.' + client.personneType }}">{{ client.personneType }}</td>
                    <td>
                        <div *ngIf="client.adresseLivraisonId">
                            <a [routerLink]="['/adresse', client.adresseLivraisonId , 'view']" >{{ client.adresseLivraisonId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="client.adresseFacturationId">
                            <a [routerLink]="['/adresse', client.adresseFacturationId , 'view']" >{{ client.adresseFacturationId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="client.personnePhysiqueId">
                            <a [routerLink]="['/personne-physique', client.personnePhysiqueId , 'view']" >{{ client.personnePhysiqueId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="client.personneMoraleId">
                            <a [routerLink]="['/personne-morale', client.personneMoraleId , 'view']" >{{ client.personneMoraleId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/client', client.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/client', client.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(client)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
