<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="client">
            <h2><span jhiTranslate="goodFoodApp.client.detail.title">Client</span> {{ client.id }}</h2>

            <hr>

            <gf-alert-error></gf-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="goodFoodApp.client.personneType">Personne Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'goodFoodApp.PersonneType.' + client.personneType }}">{{ client.personneType }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.client.adresseLivraison">Adresse Livraison</span></dt>
                <dd>
                    <div *ngIf="client.adresseLivraisonId">
                        <a [routerLink]="['/adresse', client.adresseLivraisonId, 'view']">{{ client.adresseLivraisonId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.client.adresseFacturation">Adresse Facturation</span></dt>
                <dd>
                    <div *ngIf="client.adresseFacturationId">
                        <a [routerLink]="['/adresse', client.adresseFacturationId, 'view']">{{ client.adresseFacturationId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.client.personnePhysique">Personne Physique</span></dt>
                <dd>
                    <div *ngIf="client.personnePhysiqueId">
                        <a [routerLink]="['/personne-physique', client.personnePhysiqueId, 'view']">{{ client.personnePhysiqueId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.client.personneMorale">Personne Morale</span></dt>
                <dd>
                    <div *ngIf="client.personneMoraleId">
                        <a [routerLink]="['/personne-morale', client.personneMoraleId, 'view']">{{ client.personneMoraleId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/client', client.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
