<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-recette-heading" jhiTranslate="goodFoodApp.recette.home.createOrEditLabel">Create or edit a
                Recette</h2>

            <div>
                <gf-alert-error></gf-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.recette.titre"
                        for="field_titre">Titre</label>
                    <input type="text" class="form-control" name="titre" id="field_titre" formControlName="titre" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.recette.description"
                        for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        formControlName="description" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.recette.type"
                        for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="ENTREE">{{ 'goodFoodApp.Plat.ENTREE' | translate }}</option>
                        <option value="PLAT">{{ 'goodFoodApp.Plat.PLAT' | translate }}</option>
                        <option value="DESSERT">{{ 'goodFoodApp.Plat.DESSERT' | translate }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.recette.produits"
                        for="field_produits">Produits</label>
                    <select class="form-control" name="produits" formControlName="produits" id="field_produits" multiple
                        [compareWith]=containsProduitId>
                        <option *ngFor="let produit of produitsListe" [ngValue]="produit">{{ produit.nom }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>