<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="recette">
            <h2><span jhiTranslate="goodFoodApp.recette.detail.title">Recette</span> {{ recette.id }}</h2>

            <hr>

            <gf-alert-error></gf-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="goodFoodApp.recette.titre">Titre</span></dt>
                <dd>
                    <span>{{ recette.titre }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.recette.description">Description</span></dt>
                <dd>
                    <span>{{ recette.description }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.recette.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'goodFoodApp.Plat.' + recette.type }}">{{ recette.type }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.recette.produits">Produits</span></dt>
                <dd>
                    <span>{{recette.produits | concatString:"nom":";"}}</span>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button" [routerLink]="['/recette', recette.id, 'edit']" class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>