<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="personnePhysique">
            <h2><span jhiTranslate="goodFoodApp.personnePhysique.detail.title">Personne Physique</span> {{ personnePhysique.id }}</h2>

            <hr>

            <gf-alert-error></gf-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="goodFoodApp.personnePhysique.dateNaissance">Date Naissance</span></dt>
                <dd>
                    <span>{{ personnePhysique.dateNaissance }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.personnePhysique.user">User</span></dt>
                <dd>
                    {{ personnePhysique.userLogin }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/personne-physique', personnePhysique.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
