<div>
    <h2 id="page-heading">
        <span jhiTranslate="goodFoodApp.personnePhysique.home.title">Personne Physiques</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-personne-physique" [routerLink]="['/personne-physique/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="goodFoodApp.personnePhysique.home.createLabel">
            Create a new Personne Physique
            </span>
        </button>
    </h2>

    <gf-alert-error></gf-alert-error>

    <gf-alert></gf-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'goodFoodApp.personnePhysique.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="personnePhysiques?.length === 0">
        <span jhiTranslate="goodFoodApp.personnePhysique.home.notFound">No personnePhysiques found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="personnePhysiques && personnePhysiques.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="goodFoodApp.personnePhysique.dateNaissance">Date Naissance</span></th>
                    <th scope="col" ><span jhiTranslate="goodFoodApp.personnePhysique.user">User</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let personnePhysique of personnePhysiques ;trackBy: trackId">
                    <td><a [routerLink]="['/personne-physique', personnePhysique.id, 'view']">{{ personnePhysique.id }}</a></td>
                    <td>{{ personnePhysique.dateNaissance | date:'mediumDate' }}</td>
                    <td>
                        {{ personnePhysique.userLogin }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/personne-physique', personnePhysique.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/personne-physique', personnePhysique.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(personnePhysique)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
