<div>
    <h2 id="page-heading">
        <span jhiTranslate="goodFoodApp.categorieAlimentation.home.title">Categorie Alimentations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-categorie-alimentation" [routerLink]="['/categorie-alimentation/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="goodFoodApp.categorieAlimentation.home.createLabel">
            Create a new Categorie Alimentation
            </span>
        </button>
    </h2>

    <gf-alert-error></gf-alert-error>

    <gf-alert></gf-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'goodFoodApp.categorieAlimentation.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="categorieAlimentations?.length === 0">
        <span jhiTranslate="goodFoodApp.categorieAlimentation.home.notFound">No categorieAlimentations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="categorieAlimentations && categorieAlimentations.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="goodFoodApp.categorieAlimentation.vegan">Vegan</span></th>
                    <th scope="col" ><span jhiTranslate="goodFoodApp.categorieAlimentation.vegetarien">Vegetarien</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let categorieAlimentation of categorieAlimentations ;trackBy: trackId">
                    <td><a [routerLink]="['/categorie-alimentation', categorieAlimentation.id, 'view']">{{ categorieAlimentation.id }}</a></td>
                    <td>{{ categorieAlimentation.vegan }}</td>
                    <td>{{ categorieAlimentation.vegetarien }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/categorie-alimentation', categorieAlimentation.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/categorie-alimentation', categorieAlimentation.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(categorieAlimentation)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
