<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="categorieAlimentation">
            <h2><span jhiTranslate="goodFoodApp.categorieAlimentation.detail.title">Categorie Alimentation</span> {{ categorieAlimentation.id }}</h2>

            <hr>

            <gf-alert-error></gf-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="goodFoodApp.categorieAlimentation.vegan">Vegan</span></dt>
                <dd>
                    <span>{{ categorieAlimentation.vegan }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.categorieAlimentation.vegetarien">Vegetarien</span></dt>
                <dd>
                    <span>{{ categorieAlimentation.vegetarien }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/categorie-alimentation', categorieAlimentation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
