> h3 {
  font-size: 0.8em;
  padding: 5px;
  background-color: hsla(0, 0%, 80%, 0.10196078431372549);
  border: 1px solid hsla(0, 0%, 80%, 0.10196078431372549);
  color: #323e40;
}

a {
  transition: color 1s;
  font-weight: bolder;
}

a:hover {
  color: #049e48;
}

.titre_apropos {
  font-weight: bolder;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.8rem;
  padding: 20px;
}

tbody {
  background-color: #e4f0f5;
}

th {
  width: 250;
}

tr {
  width: 150;
}
