<div [style]="'padding-bottom: 5em;'">
    <p-tabView [(activeIndex)]="activeIndex">
        <p-tabPanel header="Mentions légales">
            <h3 class ="titre_apropos">Société GOOD FOOD</h3>
            <p>Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, nous informons les utilisateurs et visiteurs du site Internet de Good Food</p>
            <br>
            <p class ="titre_apropos">Editeur :</p>
            <p>Société Good Food</p>
            <p>SAS au capital social de  130€</p>
            <p> 1 place de l'Hôtel de Ville - CS 42216, Cedex, 16000 Angoulême</p>
            <p>Téléphone : 06.44.86.86.00</p>
            <p>goodfoodbaagdev@gmail.com</p>
            <br>
            <p class ="titre_apropos">Hébergeur :</p>
            <p>Société Baag</p>
            <p>Hébergement gratuit serveur CESI</p>
            <br>
            <p class ="titre_apropos">Directeur de la publication :</p>
            <p>Adrien Hautot, Fondateur de Good Food</p>
            <br>

        </p-tabPanel>
        <p-tabPanel header="Conditions d'utilisations">
            <h3 class ="titre_apropos">Inscription</h3>
            <p>Cliquez sur <a href= "http://localhost:9000/account/register">S'inscrire à Good Food</a></p>
            <br>
            <h3 class ="titre_apropos">Connexion</h3>
            <p>Cliquez sur <a href= "http://localhost:9000">Se connecter à Good Food</a></p>
            <br>
            <h3 class ="titre_apropos">Changer de mot de passe</h3>
            <p>Cliquez sur <a href= "http://localhost:9000/account/password">Mot de passe</a></p>
            <br>
            <h3 class ="titre_apropos">Nos magasins</h3>
            <p>Cliquez sur<a href= "http://localhost:9000/nos-magasins"> Choisir un magasins le plus proche</a></p>
            <br>
            <h3 class ="titre_apropos">Accéder à son compte</h3>
            <p>Cliquez sur <a href= "http://localhost:9000/account/settings">Mon compte Good Food</a></p>
            <br>

        </p-tabPanel>
        <p-tabPanel header="Conditions générales de vente">
            <p>Food Food™  / SAS au capital de 130€ - Siège : Angoulême ,  1 place de l'Hôtel de Ville - CS 42216, Cedex, 16000 Angoulême.
            Good Food est une société de services exploitant un réseau de restauration rapide et vente d’aliments à emporter,
            composé de magasins franchisés et de succursales. Le franchisé ou la succursale dont dépend chaque commande est appelé « le Magasin » pour la suite des présentes.
            La relation entre le Client et le Magasin peut s’effectuer par l’intermédiaire des coordonnées électroniques, téléphoniques et postales
            indiquées sur le bon de commande et sur le courrier électronique de confirmation de commande.</p>
            <br>

            <h3 class ="titre_apropos">1.APPLICATION DES CONDITIONS GENERALES - OPPOSABILITE</h3>
            <p>Les présentes conditions générales de vente s’appliquent aux commandes réalisées sur le site hébergé à l’adresse
            http://www.goodfood.com/ (ci-après le Site). Le Client déclare être majeur et avoir la pleine capacité juridique lui permettant
            de s’engager au titre des présentes. Le client reconnaît avoir pris connaissance, au moment de la passation de commande,
            des présentes conditions générales de vente. Toute passation de commande vaut acceptation des présentes conditions générales
            sans aucune réserve. Les présentes conditions générales de vente régissent les relations contractuelles entre le Magasin
            Good Food choisi et le Client, les deux parties les acceptant sans réserve.</p>

            <p>Ces conditions générales de vente prévaudront sur toutes autres conditions figurant dans tout autre document,
            sauf dérogation préalable, expresse et écrite. Les conditions générales applicables sont celles en vigueur à la date de la
            commande par l’acheteur et peuvent être modifiées à tout moment et sans préavis. La validation de la commande vaut signature
            et acceptation expresse de toutes les opérations effectuées sur le site. Quand vous cochez la case confirmant que vous avez
            pris connaissance des conditions de vente et que vous cliquez sur le bouton de validation «Valider votre commande » après le
            processus de commande, vous déclarez accepter l’intégralité des présentes Conditions Générales de Vente pleinement et sans
            réserve. Les données enregistrées par le Site constituent la preuve de l’ensemble des transactions passées par le Magasin
            Good Food concernée et ses clients.</p>
            <br>

            <h3 class ="titre_apropos">2. TERRITOIRE</h3>
            <p>Les offres d’achat présentes sur le Site sont réservées uniquement au territoire français et aux consommateurs des seules
            zones disposant de magasins Good Food dans un rayon d’environ 5 km.</p>
            <br>

            <h3 class ="titre_apropos">3. Commande</h3>
            <p>Les informations communiquées par le client lors de la prise de commande l’engagent et toute erreur dans le libellé de
            la commande ou dans les coordonnées du destinataire relève de sa responsabilité exclusive. Préalablement à toute validation
            de sa commande, le Client aura les moyens techniques d’identifier les erreurs commises dans la saisie des données et de les
            corriger, en revenant sur les différentes étapes du processus de commande et pourra de la même manière modifier le contenu de
            celle-ci en ajoutant ou en retirant des produits de son panier, depuis la page web récapitulant le contenu du panier avant
            validation de la commande. Il suffira le cas échéant au Client d’indiquer quel(s) article(s) il souhaite supprimer de son
            panier avant de valider sa commande.</p>
            <p>Une fois cette vérification effectuée, le Client est invité à valider sa commande et accepter les présentes conditions
            générales de vente. Les commandes sont effectives dès cette validation effectuée. Toute commande ainsi passée est définitive
            et ne peut être annulée, et la personne est tenue de payer sa commande lors de la livraison ou lors du retrait en magasin.</p>
            <p>En cas de non retrait d’une commande valablement passée et non payée, le Magasin signalera l’incident à Good Food. Le client
            pourra alors se voir refuser la possibilité, lors de ses prochaines visites sur le site, de différer le paiement de la commande
            au moment de son retrait en magasin ou en livraison. Le client sera immédiatement informé de la restriction dont fait l’objet
            son compte par courrier électronique et il lui sera laissé la possibilité de se justifier du non retrait de la commande
            litigieuse. Au bout de 2 commandes valablement payées sur le Site, le client retrouvera la possibilité de payer lors du retrait
            en magasin.</p>
            <p>Le Client recevra automatiquement par e-mail, une confirmation écrite de la commande comportant l’ensemble des informations
            relatives aux caractéristiques du produit qui lui auront été transmises au stade de la commande, ainsi que le prix total de la
            commande toutes taxes comprises, et le montant de la TVA.</p>
            <br>

            <h3 class ="titre_apropos">4. VENTE D'ALCOOL</h3>
            <p>La vente d’alcool n’est possible que si elle accompagne la commande d’un plateau repas.
            Il conviendra toutefois de respecter le minimum requis pour chaque commande, comme indiqué à l’article 15 des présentes.
            La vente d’alcool est strictement interdite à toute personne âgée de moins de 18 ans.
            En acceptant les présentes conditions générales de vente, l’acheteur reconnait expressément être majeur.
            Le livreur a la possibilité de vérifier que la personne ayant effectuée la commande est celle qui la réceptionne et qu’elle est bien âgée de plus de 18 ans.
            Dans le cas où l’acheteur serait mineur, aucune livraison de boissons alcoolisées ne pourra être effectuée, même si celles-ci auraient préalablement été payées.</p>
            <br>
            <h3 class ="titre_apropos">5. ARCHIVAGE</h3>
            <p>Un enregistrement automatique des messages électroniques de confirmation de commande adressés au client sera effectué au sein des systèmes informatiques
            composant la plate-forme de commerce électronique, gérée et administrée par la société Good Food sur laquelle repose la mise
            en œuvre du processus de transaction électronique. Le Client est invité à conserver lui-même une copie de ladite confirmation sur tout
            support durable approprié et/ou à en effectuer une impression.</p>
            <br>

            <h3 class ="titre_apropos">6. DROIT DE RETRACTION</h3>
            <p>Selon les dispositions de l'article L. 221-28 alinéa 4 du Code de la Consommation, le droit de rétractation applicable en
            matière de vente à distance ne peut être exercé dans le cas de la fourniture de biens qui du fait de leur nature sont
            susceptibles de se détériorer ou de se périmer rapidement.
            En application de ce texte, le client ne dispose pas du délai de 14 jours pour exercer son droit de rétraction, toute commande
            sur le Site étant ferme et définitive.</p>
            <br>

            <h3 class ="titre_apropos">7. RECLAMATIONS</h3>
            <p>Good Food est une franchise dont le réseau est constitué de commerçants indépendants. Aussi une fois le contenu de son
            panier validé et sa commande confirmée, la confirmation de commande délivrée au Client portera indication des coordonnées du
            vendeur des produits considérés ayant en charge de réaliser et délivrer la commande.</p>
            <br>

            <h3 class ="titre_apropos">8. OFFRES</h3>
            <p>Toute offre de vente s’entend sous réserve des stocks disponibles. La disponibilité des produits est effectuée en temps
            réel avant la validation de la commande. Néanmoins, en cas d’indisponibilité d’un produit (notamment un ingrédient), le Client
            sera directement contacté par téléphone par le magasin afin de trouver une solution de remplacement ou de procéder à l’annulation de la commande.
            Les produits proposés sont conformes à la législation française et communautaire en vigueur.</p>
            <br>

            <h3 class ="titre_apropos">9. LIVRAISON</h3>
            <p>Les informations énoncées par le Client lors de la prise de commande engagent celui-ci : en cas d’erreur dans le libellé des
            coordonnées du destinataire, le magasin Good Food ne saurait être tenu responsable de l’impossibilité dans laquelle il
            pourrait être de livrer le produit.</p>
            <br>

            <h3 class ="titre_apropos">10. DELAI DE LIVRAISON</h3>
            <p>Le magasin s’engage à respecter les délais annoncés. Si néanmoins votre livraison ou la préparation de votre plateau repas était
            soumise à un retard excédant 30 minutes (en comparaison du délai annoncé, de l’heure de livraison ou de l’heure de disponibilité)
            , nous vous invitons à contacter le magasin dont les coordonnées figurent sur la confirmation de votre commande. Vous êtes de
            plus libre, passé ce délai, d’informer le magasin de votre souhait d’annuler la commande.</p>
            <br>

            <h3 class ="titre_apropos">11. PRIX</h3>
            <p>Les prix affichés sur les Services en ligne varient d’un magasin Good Food à l’autre. Les prix applicables sont ceux en
            vigueur au moment de la Commande du Client, tels qu’affichés sur les Services en ligne du Magasin concerné par la Commande.
            Le Client sera informé des prix applicables avant de payer sa Commande. Les prix affichés sur les Services en ligne sont
            exprimés en Euros TTC (toutes taxes comprises) et tiennent compte des taux de TVA applicables au jour de la Commande, à savoir :</p>
            <br>
            <tbody>
                <tr >Type de produits
                    <td>Livraisons</td>
                    <td>Ventes à emporter</td>
                </tr>
                <tr>Entrées
                    <td>10%</td>
                    <td>10%</td>
                </tr>
                <tr>Plats
                    <td>10%</td>
                    <td>10%</td>
                </tr>
                <tr>Désserts/Patîsseries
                    <td>5.5%</td>
                    <td>5.5%</td>
                </tr>
                <tr>Boissons non alcooliques
                    <td>5.5%</td>
                    <td>5.5%</td>
                </tr>
                <tr>Boissons alcooliques
                    <td>20%</td>
                    <td>20%</td>
                </tr>
            </tbody>
            <br>
            <p>Tout changement des taux de la TVA pourra être répercuté sur les prix des Produits. Certains magasins facturent des frais
            supplémentaires d’un montant maximum de 3,90 € TTC au titre des frais de livraison. Les frais de livraison s’ajoutent aux prix
            des produits livrés et s’affichent dans la Commande sous le libellé « Frais de livraison ». Le Magasin se réserve le droit de
            modifier ses prix à tout moment.</p>
            <br>

            <h3 class ="titre_apropos">12. RESPONSABILITE</h3>
            <p>Good Food dégage toute responsabilité quant à l’usage ou au contenu des produits commandés sur le Site.
            Les photographies et les textes reproduits sur le Site le sont à titre purement indicatif et ne sauraient avoir une valeur contractuelle.
            La responsabilité de Good Food ou des magasins franchisés ne saurait être engagée si une erreur s’est glissée dans l’une de ces
            photographies ou l’un de ces textes. Good Food ou des magasins franchisés ne sauraient être tenus pour responsables de
            l’inexécution du contrat conclu en cas de carence du magasin ou de force majeure. Si la responsabilité de Good Food ou des
            magasins franchisés découlant directement ou indirectement du présent contrat, venait à être engagée, le montant des dommages et intérêts
            qu’ils pourraient être condamnés à verser serait expressément limité au montant du prix payé par le Client pour les produits se trouvant à
            l’origine du préjudice. Le Client est tenu, en tout état de cause, de faire toutes les diligences nécessaires afin de diminuer le préjudice
            subi.</p>
            <br>
            <p>La structure générale du Site, ainsi que l'ensemble des éléments figurant sur le Site, constituent des œuvres qui sont protégées
            en tant que telles par les lois sur la propriété intellectuelle, en particulier par le droit d’auteur, les dessins et modèles et le
            droit des marques, et par les traités internationaux.</p>
            <p>Il est formellement interdit de collecter, utiliser, copier, distribuer, afficher, reproduire ou transmettre, totalement ou
            partiellement, sous quelque forme et par quelque moyen que ce soit, les éléments figurant sur le Site, notamment à des fins
            commerciales. Cette interdiction s'étend notamment, sans que cette liste ne soit limitative, aux textes, scripts, présentation des
            écrans, logiciels, marques et logos, images, photos, graphiques, concepts, sons, musique, vidéos ou fonctionnalités interactives.</p>
            <p>Toute personne qui télécharge ou recueille des informations diffusées sur le Site ne dispose sur celles-ci que d’un droit d’usage
            privé, personnel et non transmissible et s’engage à ne pas les modifier. Toute autre utilisation non expressément autorisée par
            écrit par GOOD FOOD est strictement interdite.</p>
            <br>

            <h3 class ="titre_apropos">13. VIE PRIVEE </h3>
            <p>Les données personnelles collectées sur le Site sont soumises à la politique de protection des données personnelles de
            GOOD FOOD que nous vous invitons à consulter</p>
            <br>


            <h3 class ="titre_apropos">14. MOYENS DE PAIEMENT ACCEPTES</h3>
            <p>Lors du retrait de la commande ou de sa livraison, les moyens de paiement acceptés sont les suivants </p>
            <p>- en magasin :</p>
            <p>Carte Bancaire</p>
            <p>Titres restaurant.</p>
            <p>Espèces.</p>
            <br>
            <p>- au livreur</p>
            <p>Carte Bancaire</p>
            <p>Titres restaurant.</p>
            <p>Espèces.</p>
            <p>Un minimum de commande d’un montant variable par magasin, pouvant aller jusqu’à 18 € TTC, sera appliqué sur votre
            commande en ligne en livraison. Nous vous invitons à vous rapprocher de votre magasin Domino’s pour connaître le montant
            appliqué. Seuls les paiements en euros sont acceptés. Par mesure de sécurité, nos livreurs ne sont pas rémunérés à la course,
            ni pénalisés en cas de retard et sont en possession de moins de 15€.</p>
            <br>

            <h3 class ="titre_apropos">15. LOI APPLICABLE</h3>
            <p>Les présentes conditions générales de prestation de services sont soumises à la loi française et l’ensemble de ses clauses doit être
            interprété selon le droit français.</p>

        </p-tabPanel>
        <p-tabPanel header="Données personnelles">
            <h3 class ="titre_apropos">Aperçu de comment nous traitons vos données</h3>
            <p>Cette notice décrit la manière dont GOOD FOOD utilise, protège et partage les données à caractère personnel des clients
            collectées par Good FOOD via les sites web et applications mobiles gérés par GOOD FOOD
            (ci-après « les services en ligne »). Le responsable de traitement des données clients collectées via les services en ligne est GOOD FOOD.</p>
            <br>
            <p>GOOD FOOD utilise principalement vos données à caractère personnel pour :</p>
            <p>- traiter les commandes passées via les services en ligne</p>
            <p>- fournir des services en ligne, tels que la gestion des comptes clients</p>
            <p>- gérer les relations clients : répondre aux demandes de renseignements, gérer les réclamations,
            collecter les retours-clients, informer les clients des nouveaux produits, offres et services, envoyer des offres
            promotionnelles</p>
            <p>- envoyer des publicités personnalisées</p>
            <p>- réaliser des analyses.</p>
            <br>
            <p>Les données à caractère personnel collectées en ligne sont partagées avec (i) la maison-mère de GOOD FOOD et les sociétés
            de son groupe (ii) les franchisés et/ou succursales du réseau GOOD FOOD concernés par l’exécution de vos commandes et (iii)
            nos prestataires de services tiers. Les données à caractère personnel peuvent être transférées, notamment en Australie, où est
            établi le siège de notre maison mère. Dans le cas où nous avons obtenu votre consentement, comme par exemple pour déposer des
            cookies ou des technologies similaires sur votre disque dur, vous pouvez retirer ce consentement à tout moment. Cette notice
            vous explique les modalités des traitements mis en œuvre par GOOD FOOD et vos droits en matière de protection des données, parmi
            lesquels votre droit de vous opposer à tout ou partie aux traitements effectués par GOOD FOOD. Vous trouverez de plus amples
            informations sur vos droits, et la manière de les exercer, dans la section « Quels sont mes droits ?».</p>
            <br>

            <h3 class ="titre_apropos">Quelles sont les thématiques exclues de cette notice ?</h3>
            <p>Nous attirons votre attention sur le fait que beaucoup de magasins GOOD FOOD sont exploités par des franchisés qui sont des
            entrepreneurs indépendants et, par conséquent, des responsables de traitement indépendants. Cette notice ne s’applique pas à nos
            franchisés, chaque franchisé étant responsable de sa conformité à la réglementation sur la protection des données. Pour en savoir
            plus sur leurs pratiques en matière de collecte de données, y compris pour les données à caractère personnel communiquées par téléphone
            et/ou en magasin, merci de vous rapprocher de votre magasin GOOD FOOD.</p>

            <h3 class ="titre_apropos">Comment vos données sont-elles collectées par GOOD FOOD ?</h3>
            <p>Cette notice concerne les données personnelles que nous collectons via différentes méthodes :</p>
            <p>- Les E-mail, SMS et autres messages électroniques.</p>
            <p>- Nos partenaires de commande en ligne, tel que l’agrégateur TPE System.</p>
            <p>Veuillez noter que nous combinons des données personnelles que nous collectons via une méthode (par exemple,
            un site web GOOD FOOD) avec des données personnelles que nous collectons via une autre méthode (par exemple, un message
            électronique GOOD FOOD).</p>
            <br>
            <p>La plupart du temps, vous nous communiquez vos données personnelles volontairement. Cependant, dans certains cas, la
            fourniture de ces données est essentielle pour la fourniture de services. Cela signifie que nous ne pouvons pas vous fournir
            certains services sans ces données. Par exemple, certains détails sont obligatoires pour permettre le traitement et la livraison
            de votre commande. Si des données pertinentes ne sont pas fournies, nous ne serons pas en mesure de préparer votre commande ou de
            livrer les produits demandés à votre adresse. Nous vous informerons lorsque la fourniture de données personnelles vous concernant
            sera requise. Dans tous les autres cas, la communication de vos informations est facultative.</p>
            <br>
            <p>Selon la manière dont vous entrez en contact avec nous, nous collectons les données suivantes :</p>
            <tbody>
                <tr>
                    <td>Données personnelles</td>
                    <td>Données de transaction</td>
                </tr>
                <tr>
                    <td>vos nom et prénom</td>
                    <td>vos informations de livraison, parmi lesquelles vos adresses de livraison et de facturation</td>
                </tr>
                <tr>
                    <td>votre âge/date de naissance</td>
                    <td>vos modes de paiement, vos informations de paiement, parmi lesquelles le numéro de votre carte de crédit si vous choisissez de payer en ligne</td>
                </tr>
                <tr>
                    <td>votre adresse personnelle, votre adresse électronique et votre numéro de téléphone</td>
                    <td>les produits et services achetés, les prix</td>
                </tr>
                <tr>
                    <td>des informations sur le compte que vous utilisez pour accéder à nos services en ligne, acheter ou utiliser nos produits et services (identifiant, mot de passe ou autre caractéristique permettant de vous identifier)</td>
                    <td>vos préférences en matière de prospection, y compris tout consentement que vous nous avez donné (sur demande)</td>
                </tr>
                <tr>
                    <td>des informations sur votre profil (produits et services populaires, vos visites sur nos sites et applications, les données à caractère personnel que vous acceptez de partager avec nous lorsque vous prenez contact avec nous.</td>
                    <td>des informations relatives au navigateur ou à l’appareil que vous utilisez pour accéder à nos site Internet/application mobile, parmi lesquelles votre adresse IP</td>
                </tr>
            </tbody>
            <br>

            <h3 class ="titre_apropos">Comment utilisons-nous ces informations et quel est fondement légal de cette utilisation ?</h3>
            <p> Nous traitons vos données à caractère personnel pour les finalités suivantes : </p>
            <p>- pour exécuter un contrat ou prendre des mesures en lien avec un contrat : c’est le cas lorsque vous créez un compte client, passez une commande ou participez à un concours que nous organisons, et notamment :</p>
            <p>- pour traiter votre commande, vous informer du statut de votre commande par affichage sur les écrans en magasin et/ou par SMS, et organiser la livraison/remise de votre commande
            <p>- pour gérer votre compte client sur nos plateformes (sites Internet et applications mobiles)</p>
            <p>- pour encaisser les paiements</p>
            <p>- pour communiquer avec vous.</p>

            <h3 class ="titre_apropos">Retirer votre consentement ou vous opposer à la prospection commerciale</h3>
            <p>Dès lors que nous avons requis votre consentement, vous pouvez le retirer à n’importe quel moment. Cependant, nous pourrions être amenés à conserver vos données s’il existe d’autres finalités/fondements juridiques aux traitements, tels que détaillés ci-dessus. Dans certains cas, nous pouvons vous envoyer des messages de prospection commerciale sans votre consentement si nous invoquons nos intérêts légitimes.</p>
            <p>Vous disposez d’un droit absolu de vous opposer à la prospection commerciale à tout moment. Vous pouvez le faire en suivant les instructions qui figurent dans le message, dans le cas d’un message électronique, en nous contactant comme indiqué ci-dessous</p>

            <h3 class ="titre_apropos">Combien de temps conservez-vous mes données ?</h3>
            <p>Nous traitons les données collectées via les services en ligne, par exemple lors de la création de votre compte ou de vos commandes, tant que vous restez un utilisateur actif de nos services en ligne, puis pendant une période de 3 ans à compter du moment où vous n’êtes plus considéré(e) comme tel.</p>
            <p>Dans le cas où nous traitons vos données à caractère personnel à des fins de prospection ou avec votre consentement, nous traiterons ces données jusqu’à ce que vous nous demandiez d’arrêter de le faire et à l’expiration d’un court délai après votre demande (pour nous permettre de mettre en œuvre vos demandes). Nous conserverons également dans nos archives une trace de votre demande d’arrêt d’envoi de messages de prospection commerciale et/ou nous conserverons une partie de vos données pour une durée illimitée afin de pouvoir respecter votre demande d’opposition par la suite.</p>
            <p>Dans le cas où nous traitons des données à caractère personnel en lien avec l’exécution d’un contrat ou pour un concours, nous conservons les données pendant 3 ans à compter de notre dernier contact avec vous.</p>

            <h3 class ="titre_apropos">Quels sont mes droits ?</h3>
            <p>Vous avez le droit de nous demander une copie de vos données à caractère personnel ; de rectifier ou d’effacer vos données à caractère personnel ou d’en limiter le traitement (cesser tout traitement actif) ; d’obtenir les données à caractère personnel que vous nous communiquez pour un contrat ou avec votre consentement dans un format structuré et lisible par machine, et de nous demander de transmettre ces données à un autre responsable du traitement (portabilité).</p>
            <p>De plus, vous pouvez dans certains cas vous opposer au traitement de vos données à caractère personnel (en particulier si nous ne les traitons pas en réponse à une obligation contractuelle ou autre obligation légale ou si nous les utilisons à des fins de prospection commerciale).<p>
            <p>Ces droits peuvent être limités, par exemple si le fait d’accéder à votre demande aurait pour effet de révéler des données à caractère personnel concernant une autre personne, dans le cas où ils porteraient atteinte aux droits d’un tiers (y compris les nôtres) ou si vous nous demandez de supprimez des informations que la loi nous oblige à conserver ou que nous avons un intérêt légitime incontestable à conserver. Les dispenses applicables sont décrites dans le RGPD et dans la réglementation française sur la protection des données. Nous vous informerons des dispenses que nous pouvons invoquer en répondant à toute demande de votre part.</p>
            <p>Pour exercer l’un de ces droits, ou pour obtenir d’autres informations, vous pouvez nous contacter en procédant comme indiqué ci-dessous. Si vous avez des préoccupations qui restent irrésolues, vous avez le droit d’adresser une réclamation à l’autorité européenne de protection des données compétente à l’endroit où vous vivez ou travaillez ou dès lors que vous estimez qu’une violation est survenue.</p>

            <h3 class ="titre_apropos">Mise à jour de la notice « Données personnelles »</h3>
            <p>Cette notice peut être mise à jour périodiquement. Dans certains cas, nous pouvons également vous informer des activités spécifiques de traitement de vos données à caractère personnel ou des modifications importantes de cette notice, si la loi en vigueur l’exige.</p>

            <h3 class ="titre_apropos">COVID-19 : vos coordonnées pour faciliter la recherche des « cas contacts »</h3>
            <p>Les magasins Domino’s situés dans les zones d’alerte maximale sont soumis au respect d’un protocole sanitaire spécifique, qui prévoit le recueil d’informations vous concernant, dans le cadre de la lutte contre l’épidémie de COVID-19, à savoir : date et heure d’arrivée, prénom et nom, numéro de téléphone.</p>
            <p>Ces informations sont collectées par Domino’s via les services en ligne et utilisées par les franchisés et/ou les succursales du réseau Domino’s situés dans les zones d’alerte maximale lorsque vous avez opté pour la remise de votre commande en magasin.</p>
            <p>Conformément aux obligations prévues dans le protocole sanitaire défini par arrêté préfectoral, vos données seront uniquement utilisées pour faciliter la recherche des « cas contacts » par les autorités sanitaires, et ne seront pas réutilisées à d’autres fins.</p>
            <p>En cas de contamination de l’un des clients au moment de votre présence, ces informations pourront être communiquées aux autorités sanitaires compétentes (agents des CPAM, de l’assurance maladie et/ou de l’agence régionale de santé), afin de vous contacter et de vous indiquer le protocole sanitaire à suivre.</p>
            <p>Vos données seront disponibles pour les autorités sanitaires compétentes pendant 14 jours à compter de leur collecte.</p>
            <p>Vous pouvez accéder aux données vous concernant, les rectifier ou exercer votre droit à la limitation du traitement de vos données.</p>
            <p>Pour exercer ces droits ou pour toute question sur le traitement de vos données, vous pouvez envoyer un mail à : goodfoodbaagdev@gmail.com</p>
            <p>Si vous estimez, après nous avoir contactés, que vos droits Informatique et Libertés ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL.</p>

        </p-tabPanel>
    </p-tabView>
</div>

