<div class="row">
    <div class="col-md-12">
        <div class="pt-2 pb-1">
            <h4 jhiTranslate="home.carousel.title">Nos recettes: </h4>
            <gf-carousel [recettes]="recipes"></gf-carousel>
        </div>
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                      [translateValues]="{ username: account.login }">You are logged in as user "{{ account.login }}
                    ".</span>
            </div>
        </div>
        <div class="btns-home">
            <div class="btn-div" (click)="goToShop()">
                <fa-icon size="7x" [icon]="icons.home.map"></fa-icon>
                <span class="span-title h5" jhiTranslate="home.button.shop">Nos magasins</span>
            </div>
            <div class="btn-div" (click)="goToBuy()">
                <fa-icon size="7x" [icon]="icons.home.cart"></fa-icon>
                <span class="span-title h5" jhiTranslate="home.button.command">Passer une commande</span>
            </div>
            <div class="btn-div" (click)="login()">
                <fa-icon size="7x" [icon]="icons.home.user"></fa-icon>
                <span class="span-title h5" jhiTranslate="home.button.connect">Se connecter / creer un compte</span>
            </div>
        </div>
    </div>
</div>
