/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_3.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_3.svg') no-repeat center top;
    background-size: contain;
  }
}

@media screen and (min-width: 850px) {
  .span-title {
    padding-left: 1em;
    padding-right: 1em;
  }
  .btns-home {
    padding-top: 8%;
    padding-bottom: 15%;
    justify-content: center;
    display: flex !important;
    > div {
      margin-left: 5em;
      margin-right: 5em;
      display: grid;
      > fa-icon {
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .span-title {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
  }
  .btns-home {
    padding-top: 8%;
    padding-bottom: 5%;
    > div {
      margin: 1em;
      display: grid;
      > fa-icon {
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        text-align: center;
      }
    }
  }
}

.btn-div {
  color: #2d2929;
  background-color: #ffffff;
  border-color: #357ebd; /*set the color you want here*/
}
.btn-div:hover,
.btn-div:focus,
.btn-div:active,
.btn-div.active,
.open > .dropdown-toggle.btn-div {
  color: #ffffff;
  background-color: #2d2929;
  border-color: #285e8e;
  > span {
    color: #049e48;
    transition: color 1s;
  }
}
