<div>
    <h2 id="page-heading">
        <span jhiTranslate="goodFoodApp.franchise.home.title">Franchises</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-franchise" [routerLink]="['/franchise/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="goodFoodApp.franchise.home.createLabel">
            Create a new Franchise
            </span>
        </button>
    </h2>

    <gf-alert-error></gf-alert-error>

    <gf-alert></gf-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'goodFoodApp.franchise.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="franchises?.length === 0">
        <span jhiTranslate="goodFoodApp.franchise.home.notFound">No franchises found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="franchises && franchises.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telephone"><span jhiTranslate="goodFoodApp.franchise.telephone">Telephone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="goodFoodApp.franchise.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="horaire"><span jhiTranslate="goodFoodApp.franchise.horaire">Horaire</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="siret"><span jhiTranslate="goodFoodApp.franchise.siret">Siret</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="adresseFranchiseIdId"><span jhiTranslate="goodFoodApp.franchise.adresseFranchiseId">Adresse Franchise Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let franchise of franchises ;trackBy: trackId">
                    <td><a [routerLink]="['/franchise', franchise.id, 'view']">{{ franchise.id }}</a></td>
                    <td>{{ franchise.telephone }}</td>
                    <td>{{ franchise.email }}</td>
                    <td>{{ franchise.horaire }}</td>
                    <td>{{ franchise.siret }}</td>
                    <td>
                        <div *ngIf="franchise.adresseFranchiseIdId">
                            <a [routerLink]="['/adresse', franchise.adresseFranchiseIdId , 'view']" >{{ franchise.adresseFranchiseIdId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/franchise', franchise.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/franchise', franchise.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(franchise)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
