<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-franchise-heading" jhiTranslate="goodFoodApp.franchise.home.createOrEditLabel">Create or edit a Franchise</h2>

            <div>
                <gf-alert-error></gf-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.franchise.telephone" for="field_telephone">Telephone</label>
                    <input type="text" class="form-control" name="telephone" id="field_telephone"
                           formControlName="telephone"/>
                    <div *ngIf="editForm.get('telephone')!.invalid && (editForm.get('telephone')!.dirty || editForm.get('telephone')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telephone')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.franchise.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                    <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.franchise.horaire" for="field_horaire">Horaire</label>
                    <input type="text" class="form-control" name="horaire" id="field_horaire"
                           formControlName="horaire"/>
                    <div *ngIf="editForm.get('horaire')!.invalid && (editForm.get('horaire')!.dirty || editForm.get('horaire')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('horaire')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.franchise.siret" for="field_siret">Siret</label>
                    <input type="text" class="form-control" name="siret" id="field_siret"
                           formControlName="siret"/>
                    <div *ngIf="editForm.get('siret')!.invalid && (editForm.get('siret')!.dirty || editForm.get('siret')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('siret')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodFoodApp.franchise.adresseFranchiseId" for="field_adresseFranchiseId">Adresse Franchise Id</label>
                    <select class="form-control" id="field_adresseFranchiseId" name="adresseFranchiseId" formControlName="adresseFranchiseIdId">
                        <option *ngIf="!editForm.get('adresseFranchiseIdId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="adresseOption.id" *ngFor="let adresseOption of adressefranchiseids; trackBy: trackById">{{ adresseOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('adresseFranchiseIdId')!.invalid && (editForm.get('adresseFranchiseIdId')!.dirty || editForm.get('adresseFranchiseIdId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('adresseFranchiseIdId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label jhiTranslate="goodFoodApp.franchise.stockFranchise" for="field_stockFranchises">Stock Franchise</label>
                    <select class="form-control" id="field_stockFranchises" multiple name="stockFranchises" formControlName="stockFranchises">
                        <option [ngValue]="getSelected(editForm.get('stockFranchises')!.value, produitOption)" *ngFor="let produitOption of produits; trackBy: trackById">{{ produitOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('stockFranchises')!.invalid && (editForm.get('stockFranchises')!.dirty || editForm.get('stockFranchises')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('stockFranchises')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
