<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="franchise">
            <h2><span jhiTranslate="goodFoodApp.franchise.detail.title">Franchise</span> {{ franchise.id }}</h2>

            <hr>

            <gf-alert-error></gf-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="goodFoodApp.franchise.telephone">Telephone</span></dt>
                <dd>
                    <span>{{ franchise.telephone }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.franchise.email">Email</span></dt>
                <dd>
                    <span>{{ franchise.email }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.franchise.horaire">Horaire</span></dt>
                <dd>
                    <span>{{ franchise.horaire }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.franchise.siret">Siret</span></dt>
                <dd>
                    <span>{{ franchise.siret }}</span>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.franchise.adresseFranchiseId">Adresse Franchise Id</span></dt>
                <dd>
                    <div *ngIf="franchise.adresseFranchiseIdId">
                        <a [routerLink]="['/adresse', franchise.adresseFranchiseIdId, 'view']">{{ franchise.adresseFranchiseIdId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="goodFoodApp.franchise.stockFranchise">Stock Franchise</span></dt>
                <dd>
                    <span *ngFor="let stockFranchise of franchise.stockFranchises; let last = last">
                        <a [routerLink]="['/produit', stockFranchise?.id, 'view']">{{ stockFranchise.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/franchise', franchise.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
