<div>
    <p-carousel [value]="recettes" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
        <ng-template let-recettes pTemplate="item">
            <div class="product-item">
                <div class="product-item-content">
                    <div class="product-tag">
                        <i class="pi pi-tag"></i>
                        <span class="">{{recettes.type}}</span>
                    </div>
                    <div class="p-mb-3">
                        <!--<h5>IMG</h5>
                        Penser à mettre la class 'product-image'
                        <img src="assets/showcase/images/demo/product/{{product.image}}" [alt]="product.name" class="product-image" />
                        -->
                    </div>
                    <div>
                        <h4 class="p-mb-1">{{recettes.name}}</h4>
                        <h4 class="p-mb-1">{{recettes.description}}</h4>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>
