<div>
    <p-toast position="bottom-left"></p-toast>
    <div class="pb-3">
        <div class="p-grid p-nogutter p-justify-between pt-2">
            <button *ngIf="showMaps" (click)="toggleShowMaps()" [pTooltip]="'Page Selection du mode'"
                    class="btn btn-outline-primary pi pi-angle-left rounded-sm"></button>
            <button *ngIf="!showMaps" (click)="homePage()" [pTooltip]="'Page d\'accueil'"
                    class="btn btn-outline-primary pi pi-angle-left rounded-sm"></button>
        </div>
    </div>
    <div class="content">
        <div *ngIf="!showMaps" class="card p-mr-2">
            <div class="btns-home">
                <div (click)="toDelivery()" class="btn-div">
                    <fa-icon [icon]="icons.delivery" size="7x"></fa-icon>
                    <span class="span-title h5" jhiTranslate="goodFoodApp.delivrance.button.delivery">Livraison</span>
                </div>
                <div (click)="toTakeAway()" class="btn-div">
                    <fa-icon [icon]="icons.takeAway" size="7x"></fa-icon>
                    <span class="span-title h5" jhiTranslate="goodFoodApp.delivrance.button.takeAway">A emporter</span>
                </div>
            </div>
        </div>
        <div *ngIf="showMaps" class="card p-mr-2 p-1">
            <div *ngIf="delivery">
                <div>
                    <h3 class="text-center font-weight-bold">Livraison</h3>
                </div>
                <div class="maps-and-form">
                    <div class="forms pl-3 pr-1 pt-4">
                        <form [formGroup]="searchDeliveryForm" name="searchForm" role="form">
                            <div class="form-group">
                                <label for="numberVoie">Numéro de voie</label>
                                <input class="form-control" formControlName="numberVoie" id="numberVoie" type="number">
                            </div>
                            <div class="form-group">
                                <label for="nameStreet">Nom de rue</label>
                                <input class="form-control" formControlName="nameStreet" id="nameStreet" type="text">
                            </div>
                            <div>
                                <div class="form-group">
                                    <label for="inputZip">Code postal</label>
                                    <input class="form-control" formControlName="zip" id="inputZip" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="inputCity">Ville</label>
                                    <input class="form-control" formControlName="city" id="inputCity" type="text">
                                </div>
                            </div>
                            <div class="btn-search-div pb-1">
                                <button (click)="searchDeliveryAddress()" class="btn btn-primary" type="submit">
                                    Rechercher
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="maps">
                        <gf-shop (setGeoloc)="getFranchiseIn5Km($event)" *ngIf="showMaps" [isSelectMode]="true"
                                 [manualAddress]="manualAddress"></gf-shop>
                    </div>
                    <div class="liste">
                        <hr class="hr">
                        <h4 class="no-value" *ngIf="franchiseAddressList.length < 1">Aucun franchisé trouvé</h4>
                        <div class="btn-select" *ngFor="let franchise of franchiseAddressList">
                            <div class="d-flex w-100" (click)="selectFranchise(franchise)">
                                <div>
                                    <h6>{{franchise?.adresseFranchise?.ville}}</h6>
                                    <p>{{franchise?.adresseFranchise?.numeroVoie}} {{franchise?.adresseFranchise?.nomVoie}}
                                        - {{franchise?.adresseFranchise?.codePostal}}</p>
                                </div>
                                <fa-icon size="3x" [icon]="icons.action.chevronRight"></fa-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!delivery">
                <div>
                    <h3 class="text-center font-weight-bold">A Emporter</h3>
                </div>
                <div>
                    <form [formGroup]="searchFranchiseForm" class="row" name="searchFranchiseForm" role="form">
                        <div class="col">
                            <div class="form-group">
                                <label for="inputCityOrZip">Ville ou code postal</label>
                                <input class="form-control" formControlName="cityOrZip" id="inputCityOrZip">
                            </div>
                            <div class="text-right pb-1">
                                <button (click)="searchFranchiseAddress()" class="btn btn-primary" type="submit">
                                    Rechercher
                                </button>
                            </div>
                        </div>
                    </form>
                    <hr class="hr">
                    <h4 class="no-value" *ngIf="franchiseAddressList.length < 1">Aucun franchisé trouvé</h4>
                    <div class="btn-select" *ngFor="let franchise of franchiseAddressList">
                        <div class="d-flex" (click)="selectFranchise(franchise)">
                            <div>
                                <h6>{{franchise?.adresseFranchise?.ville}}</h6>
                                <p>{{franchise?.adresseFranchise?.numeroVoie}} {{franchise?.adresseFranchise?.nomVoie}}
                                    - {{franchise?.adresseFranchise?.codePostal}}</p>
                            </div>
                            <fa-icon size="3x" [icon]="icons.action.chevronRight"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
