@media screen and (min-width: 850px) {
  .span-title {
    padding-left: 1em;
    padding-right: 1em;
  }
  .btns-home {
    padding-top: 8%;
    padding-bottom: 15%;
    justify-content: center;
    display: flex !important;

    > div {
      margin-left: 5em;
      margin-right: 5em;
      display: grid;

      > fa-icon {
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        text-align: center;
      }
    }
  }
  .maps-and-form {
    display: flex;
    .liste {
      width: 20%;
      order: 1;
    }

    .maps {
      width: 60%;
      order: 2;
    }

    .forms {
      width: 20%;
      order: 3;

      .btn-search-div {
        text-align: right;
      }
    }
  }
  .btn-select {
    margin-right: 0.2em;
    text-align: -webkit-center;
    > div {
      width: 40%;
      padding-left: 0.5em;
      background-color: #049e48;
      margin: 0.1em 0;
      border-radius: 3px;
      > div {
        > h6 {
          margin-top: 1em;
          text-align: start;
        }
        > p {
          color: #111111;
          margin-bottom: 1em;
        }
      }
      > fa-icon {
        padding-right: 0.5em;
        align-self: center;
        margin-left: auto;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .span-title {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
  }
  .btns-home {
    padding-top: 8%;
    padding-bottom: 5%;

    > div {
      margin: 1em;
      display: grid;

      > fa-icon {
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        text-align: center;
      }
    }
  }
  .maps-and-form {
    .maps {
      order: 2;
    }

    .forms {
      order: 1;

      .btn-search-div {
        text-align: right;
      }
    }
  }
  .btn-select {
    text-align: -webkit-center;
    > div {
      padding-left: 0.5em;
      background-color: #049e48;
      margin: 0.1em 0;
      border-radius: 3px;
      > div {
        > h6 {
          margin-top: 1em;
          text-align: start;
        }
        > p {
          color: #111111;
          margin-bottom: 1em;
        }
      }
      > fa-icon {
        margin-left: auto;
        padding-right: 0.5em;
        align-self: center;
      }
    }
  }
}

.hr {
  margin-left: 5rem;
  margin-right: 5rem;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.no-value {
  text-align: center;
}

.btn-div {
  color: #2d2929;
  background-color: #ffffff;
  border-color: #357ebd; /*set the color you want here*/
}

.btn-div:hover,
.btn-div:focus,
.btn-div:active,
.btn-div.active,
.open > .dropdown-toggle.btn-div {
  color: #ffffff;
  background-color: #2d2929;
  border-color: #285e8e;

  > span {
    color: #ffffff;
  }
}
