<!--<div class="card">
        <div class="card">
            <h3 class="bold text-center">Details de ma commande</h3>
            <hr class="hr">
            <div>
                <div>
                    L'adresse du franchise
                    <span>{{franchiseAdresse.ville}} - {{franchiseAdresse.codePostal}}</span>
                </div>
                <div>
                    <span>Carte bancaire</span>
                    <span>En liquide</span>
                    Carte bancaire à réception
                </div>

                <hr>
                Contenu de la commande: 15€
                <hr>

                <div>BTN pour imprimer &#45;&#45;&#45;&#45;&#45;&#45; Prix total en gros €
                    <button class="btn btn-outline-primary" (click)="printInvoice()">
                        <fa-icon [icon]="icons.action.save"></fa-icon>
                    </button>
                    <span>{{commande.prixTotal | currency:"EUR":"symbol"}}</span>
                </div>


                <div>
                    <span>Commande passée le : {{commande.dateCommande | date}}</span> Date de la commande
                </div>


            </div>
    </div>
</div>-->

<div>
    <div class="ticket">
        <div class="ticket__content p-4">
            <h3 class="bold text-center">Details de ma commande</h3>
            <hr class="hr">
            <div>
                <div class="text-center">
                    <span>{{franchiseAdresse.ville}} - {{franchiseAdresse.codePostal}}</span>
                </div>
                <div>
                    <span>Type de vente : </span>
                    <span *ngIf="!commande.aLivrer">A emporter</span>
                    <span *ngIf="commande.aLivrer">Livraison</span>
                </div>

                <div>
                    <span>Client : </span>
                    <span>{{personnePhysique?.nom}}</span>
                </div>

                <div>
                    <span>Le {{commande.dateCommande | date : 'medium'}}</span>
                </div>

                <div class="pt-1">
                    <div class="price">
                        <span>ARTICLE</span>
                        <span>PRIX</span>
                    </div>
                    <hr style="border-top: 1px dashed; margin-top: 0;">
                    <div *ngFor="let plateau of commandeClient?.plateauRepas; let i = index;">
                        <div class="price">
                            <span>Plateau n°{{i+1}}</span>
                            <span>{{searchPlateauPrice(i) | currency:"EUR": "symbol"}}</span>
                        </div>
                        <div class="price pl-2" *ngFor="let recette of plateau?.recettes; let index = index;" >
                            <span>{{recette.titre}}</span>
                            <span>{{searchPrice(recette.id) |currency:"EUR":"symbol"}}</span>
                        </div>
                        <div class="price pl-2" *ngIf="plateau?.boissonId" >
                            <span>{{searchBoissonName(i)}}</span>
                            <span>{{searchBoissonPrice(i) |currency:"EUR":"symbol"}}</span>
                        </div>
                    </div>
                    <hr style="border-top: 1px dashed; margin-bottom: 0;">
                </div>
                <div>
                    <div class="price">
                        <span>TOTAL H.T</span>
                        <span>{{ prixHT | currency:"EUR":"symbol"}}</span>
                    </div>
                    <div class="price">
                        <span>TOTAL TTC</span>
                        <span>{{commande?.prixTotal | currency:"EUR":"symbol"}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-2 text-center">
            <button class="btn btn-outline-primary " (click)="printInvoice()">
                Enregister le ticket
                <fa-icon size="lg" [icon]="icon.action.save"></fa-icon>
            </button>
        </div>
    </div>
</div>
