.ticket {
  position: relative;
  /*box-sizing: border-box;
  width: 300px;
  height: 450px;*/
  margin: 150px auto 0;
  padding: 20px;
  border-radius: 10px;
  background: #fbfbfb;
  box-shadow: 2px 2px 15px 0px #767671;
}

.price {
  display: flex;
  justify-content: space-between;
}

.ticket__content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: 6px solid #d8d8d8;
}
