<div class >
    <h3>{{title}}</h3>
    <div class="row container-fluid  justify-content-center bloc">
        <div class="col-sm-6">
            <p>Société Good Food</p>
            <p>SAS au capital social de  130€</p>
            <p> 1 place de l'Hôtel de Ville - CS 42216, Cedex, 16000 Angoulême</p>
            <p>Téléphone : 06.44.86.86.00</p>
            <p>goodfoodbaagdev@gmail.com</p>
            <br>
            <p>Hébergeur :</p>
            <p>Société Baag</p>
            <p>Hébergement gratuit serveur CESI</p>
            <br>
            <p>Directeur de la publication :</p>
            <p>Adrien Hautot, Fondateur de Good Food</p>
        </div>
        <div class="col-sm-6 bloc">
            <form class="contact" [formGroup]="form" method="post" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label class="form-control-label">Nom</label>
                    <input name="name" class="form-control" formControlName="name" required>
                </div>
                <div class="form-group">
                    <label class="form-control-label">Email</label>
                    <input name="email" class="form-control" formControlName="email" placeholder="email@example.com" required>
                </div> 
                <div class="form-group">
                    <div class="form-control-label">Message</div>
                    <textarea name="message" formControlName="message" rows="4" cols="50" autofocus maxlength="256" placeholder="Message..." required></textarea>
                </div>
                <button [disabled]="isLoading" class="btn btn-primary" type="submit">Envoyer la demande à Good Food</button>
                <div class="form-group" [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
                    <span class="alert-link">{{responseMessage}}</span>
                </div>
            </form>
        </div> 
    </div>
</div>